@media (min-width: 480px) {
    [class*="push"], [class*="pull"] {
        position: relative;
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    .push1 { left: 62px; }
    .push2 { left: 124px; }
    .push3 { left: 186px; }
    .push4 { left: 248px; }
    .push5 { left: 310px; }
    .push6 { left: 372px; }
    .push7 { left: 434px; }
    .push8 { left: 496px; }
    .push9 { left: 558px; }
    .push10 { left: 620px; }
    .push11 { left: 682px; }
    .pull1 { left: -62px; }
    .pull2 { left: -124px; }
    .pull3 { left: -186px; }
    .pull4 { left: -248px; }
    .pull5 { left: -310px; }
    .pull6 { left: -372px; }
    .pull7 { left: -434px; }
    .pull8 { left: -496px; }
    .pull9 { left: -558px; }
    .pull10 { left: -620px; }
    .pull11 { left: -682px; }
}
@media (min-width: 980px) and (max-width: 1199px) {
    .push1 { left: 80px; }
    .push2 { left: 160px; }
    .push3 { left: 240px; }
    .push4 { left: 320px; }
    .push5 { left: 400px; }
    .push6 { left: 480px; }
    .push7 { left: 560px; }
    .push8 { left: 640px; }
    .push9 { left: 720px; }
    .push10 { left: 800px; }
    .push11 { left: 880px; }
    .pull1 { left: -80px; }
    .pull2 { left: -160px; }
    .pull3 { left: -240px; }
    .pull4 { left: -320px; }
    .pull5 { left: -400px; }
    .pull6 { left: -480px; }
    .pull7 { left: -560px; }
    .pull8 { left: -640px; }
    .pull9 { left: -720px; }
    .pull10 { left: -800px; }
    .pull11 { left: -880px; }
}
@media (min-width: 1200px) {
    .push1 { left: 100px; }
    .push2 { left: 200px; }
    .push3 { left: 300px; }
    .push4 { left: 400px; }
    .push5 { left: 500px; }
    .push6 { left: 600px; }
    .push7 { left: 700px; }
    .push8 { left: 800px; }
    .push9 { left: 900px; }
    .push10 { left: 1000px; }
    .push11 { left: 1100px; }
    .pull1 { left: -100px; }
    .pull2 { left: -200px; }
    .pull3 { left: -300px; }
    .pull4 { left: -400px; }
    .pull5 { left: -500px; }
    .pull6 { left: -600px; }
    .pull7 { left: -700px; }
    .pull8 { left: -800px; }
    .pull9 { left: -900px; }
    .pull10 { left: -1000px; }
    .pull11 { left: -1100px; }
}