# IDE-metadata
.idea
nbproject

# mysql-data
_mysql.php
 
# file-uploads
/demos/*
!/demos/index.php
 
/downloads/*
!/downloads/index.php
 
/tmp/*
!/tmp/index.php
 
/images/articles-pics/*
!/images/articles-pics/index.php
 
/images/avatars/*
!/images/avatars/noavatar.gif
 
/images/banner/*
!/images/banner/index.php
 
/images/bannerrotation/*
!/images/bannerrotation/index.php
 
/images/clanwar-screens/*
!/images/clanwar-screens/index.php
 
/images/gallery/large/*
/images/gallery/thumb/*
!/images/gallery/large/index.php
!/images/gallery/thumb/index.php
 
/images/links/*
!/images/links/1.gif
 
/images/linkus/*
!/images/links/index.php
 
/images/news-pics/*
!/images/news-pics/index.php
 
/images/news-rubrics/*
!/images/news-rubrics/index.php
 
/images/partners/*
!/images/partners/1.gif
 
/images/sponsors/*
!/images/sponsors/index.php
 
/images/squadicons/*
!/images/squadicons/index.php
 
/images/userpics/*
!/images/userpics/nouserpic.gif