/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 60px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Let the jumbotron breathe */
  .jumbotron {
    margin-top: 20px;
  }
}

.inputselect.btn.btn-danger div a {
    color:#ccc;
}

.add-on.captcha-img, .input-group-addon.captcha-img {
    height:25px!important;
    padding:2px 5px 1px!important;
}

section .thumbnail.pull-left {
    margin-right:2em;
    margin-bottom:2em;
}

.ws_comments {
    min-height: 90px;
}
                
.ws_comments .avatar {
    padding: 5px;                
}

#usermenu > li a > img { 
  height: 40px;
}

/* Font types */
a.titlelink, a.titlelink:visited, a.titlelink:active {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: bold;
}

a.titlelink:hover {
  color: #FFFFFF;
  text-decoration: underline;
  font-weight: bold;
}

.panel-default a.titlelink, .panel-default a.titlelink:visited, .panel-default a.titlelink:active {
  color: #000000;
}

.panel-default a.titlelink:hover {
  color: #000000;
}

a.category, a.category:visited, a.category:active {
  color: #333333;
  text-decoration: none;
}

a.category:hover {
  color: #000000;
  text-decoration: underline;
}

.title {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #FFFFFF;
  font-weight: bold;
  background-color: #36befc;
}

.category_big, .category_big a {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #000000;
  font-weight: bold;
}

.category {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #000000;
  font-weight: normal;
}

/* BBCode Tags */
.quote {
  color: #383838;
  text-align: left;
  font: normal 9px Verdana, Arial, Helvetica, sans-serif;
  margin: 0 auto;
  padding: 3px;
}

.list {
	list-style-type: disc;
	list-style-position: outside;
}

.list_num {
	list-style-type: decimal;
	list-style-position: outside;
}

.list_alpha {
	list-style-type: lower-latin;
	list-style-position: outside;
}

.code {
  color: #000000;
  text-align: left;
  margin: 0 auto;
  padding: 3px;
  font: normal 10px Verdana, Arial, Helvetica, sans-serif;
}

.codeinner {
  color: #000000;
  font: 11px 'Courier New', Courier, monospace;
}

.codeline0 {
	background-color: #F3F3F3;
	height: 15px;
	padding-left: 3px;
	white-space: nowrap;
}

.codeline1 {
	background-color: #FFFFFF;
	height: 15px;
	padding-left: 3px;
	white-space: nowrap;
}

/* Center img-responsive */
.img-responsive.center {
  margin: 0 auto;
}