/* Main Layout */
body {
    padding-top: 70px;
}

/* Font types */
.title {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #36befc;
}

.category {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000000;
    font-weight: normal;
}

/* Infomessages - Miscellaneous */
.tooltip {
    position: absolute;
    display: none;
    background-color: #FFFFFF;
    color: #000000;
    border: 1px solid #DDDDDD;
    border-left: 4px solid #0E8AEA;
    padding: 4px 10px;
    z-index: 100;
}

/* BBCode Tags */
.quote {
    color: #383838;
    text-align: left;
    font: normal 9px Verdana, Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding: 3px;
}

.list {
    list-style: disc outside;
}

.list_num {
    list-style: decimal outside;
}

.list_alpha {
    list-style: lower-latin outside;
}

.code {
    color: #000000;
    text-align: left;
    margin: 0 auto;
    padding: 3px;
    font: normal 10px Verdana, Arial, Helvetica, sans-serif;
}

.codeinner {
    font: 11px 'Courier New', Courier, monospace;
    border-top: 1px solid #000;
}

.codeline0 {
    background-color: #F3F3F3;
    height: 15px;
    padding-left: 3px;
    white-space: nowrap;
}

.codeline1 {
    background-color: #FFFFFF;
    height: 15px;
    padding-left: 3px;
    white-space: nowrap;
}

a.flag img {
    margin: 1px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    opacity: 0.5;
}

a.flag.active img, a.flag:hover img {
    filter: none;
    -webkit-filter: none;
    opacity: 1;
}

.input-group span.input-group-addon.captcha-img {
    padding-top: 4px;
    padding-bottom: 3px;
}

.ws-win-color {
    color: #008000;
}

.ws-draw-color {
    color: #ffa500;
}

.ws-lose-color {
    color: #ff0000;
}

#shoutbox {
    width: 100%;
    overflow: hidden;
    text-align: left;
}
