<div class="table-responsive">
<table class="table">
    <thead>
        <tr> 
            <th><a href="index.php?site=articles&amp;page=$page&amp;sort=date">%date%:</a></th>
            <th>%title%:</th>
            <th><a href="index.php?site=articles&amp;page=$page&amp;sort=poster">%author%:</a></th>
            <th><a href="index.php?site=articles&amp;page=$page&amp;sort=rating">%rating%:</a></th>
            <th><a href="index.php?site=articles&amp;page=$page&amp;sort=viewed">%viewed%:</a></th>
        </tr>
    </thead>
    <tbody>