<article>
    <div class="row">
        <div class="col-xs-10">
            <h3>$title</h3>
        </div>
        <small class="col-xs-2">$date</small>
    </div>

    <p>$content $adminaction</p>

    <aside>
        <div class="row">
            <div class="col-md-8">
                <p>
                    <span class="icon-user"></span> by $poster
                    | <span class="icon-calendar"></span> $date
                    | <span class="icon-link"></span> $related
                    | %rating% $ratingpic </p>
            </div>
            <div class="col-md-4">$rateform</div>
        </div>
    </aside>
</article>
