<table width="100%" cellspacing="0" cellpadding="2" bgcolor="$border">
  <tr bgcolor="$bghead">
    <td class="title">$title</td>
  </tr>
  <tr><td bgcolor="$pagebg"></td></tr>
  <tr bgcolor="$bg1">
    <td>
    <table width="100%" border="0" cellspacing="0" cellpadding="2">
      <tr>
        <td valign="top">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td>
            <table border="0" cellspacing="0" cellpadding="2">
              <tr>
                <td>%date%</td>
                <td>$date</td>
              </tr>
              <tr>
                <td>%author%</td>
                <td>$poster</td>
              </tr>
              <tr>
                <td>%links%</td>
                <td>$related</td>
              </tr>
            </table>
            </td>
            <td align="right" valign="top">%rating% $ratingpic<br />$adminaction</td>
          </tr>
          <tr>
            <td colspan="2" align="right"><hr />%page_of%</td>
          </tr>
          <tr>
            <td colspan="2">$content</td>
          </tr>
          <tr>
            <td colspan="2" align="right">$page_link</td>
          </tr>
          <tr>
            <td colspan="2" align="right"><hr />$rateform</td>
          </tr>
        </table>
        </td>
      </tr>
    </table>
    </td>
  </tr>
</table>