<script>
	<!--
	function chkFormular() {
		if (document.getElementById('award_name').value == "") {
			alert("%enter_title%");
			document.getElementById('award_name').focus();
			return false;
		}
		message = document.getElementById('message').value;
		if (message == "") {
			alert("%enter_text%");
			document.getElementById('message').focus();
			return false;
		}

		if (!validbbcode(message)) {
			document.getElementById('message').focus();
			return false;
		}

	}
	-->
</script>
<form action="awards.php" method="post" id="post" name="post" onsubmit="return chkFormular()">
	<h3>%new_award%</h3>

	<div class="form-group row">
		<label class="col-lg-2" for="date">%date%:</label>
		<div class="col-lg-10">
			<input id="date" name="date" type="date" placeholder="yyyy-mm-dd" class="form-control">
		</div>
	</div>

	<div class="form-group row">
		<label class="col-lg-2" for="squad">%squad%:</label>
		<div class="col-lg-10">
			<select id="squad" name="squad" class="form-control">$squads</select>
		</div>
	</div>

	<div class="form-group row">
		<label class="col-lg-2" for="range">%ranking%:</label>
		<div class="col-lg-10">
			<input id="range" name="rang" type="number" class="form-control">
		</div>
	</div>

	<div class="form-group row">
		<label class="col-lg-2" for="award">%award%:</label>
		<div class="col-lg-10">
			<input id="award" name="award" type="text" class="form-control">
		</div>
	</div>

	<div class="form-group row">
		<label class="col-lg-2" for="homepage">%homepage%:</label>
		<div class="col-lg-10">
			<input id="homepage" name="homepage" type="url" class="form-control">
		</div>
	</div>

	<div class="form-group">
		$addbbcode
		$addflags
	</div>

	<div class="form-group">
		<textarea name="message" id="message" rows="5" class="form-control"></textarea>
	</div>

	<div class="form-group">
		<input type="submit" name="save" value="%save_award%" class="btn btn-danger">
	</div>

</form>
