<li class="list-group-item">
	$country <a href="index.php?site=profile&amp;id=$ds[buddy]"><strong>$nickname</strong></a> $member

	<span class="badge pull-right">
		<a href="buddies.php?action=ignore&amp;id=$ds[buddy]&amp;userID=$userID" title="ignore user">
			<img src="images/icons/buddy_ignore.gif" alt="ignore user">
		</a>
		<a href="buddies.php?action=delete&amp;id=$ds[buddy]&amp;userID=$userID" title="delete user">
			<img src="images/icons/buddy_delete.gif" alt="delete user">
		</a>
	</span>
</li>
