<table class="table">
	<thead>
	<tr>
		<th colspan="2">$usage</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>%saved_on%:</td>
		<td align="right"><b>$date</b></td>
	</tr>
	<tr>
		<td>%total_costs%:</td>
		<td align="right"><b>$ds[totalcosts] &#8364;</b></td>
	</tr>
	<tr>
		<td>%costs_member%:</td>
		<td align="right"><b>$ds[usercosts] &#8364;</b></td>
	</tr>
	<tr>
		<td>%pay_until%:</td>
		<td align="right"><b>$paydate</b></td>
	</tr>
	<tr>
		<td colspan="2">%bank_account%:</td>
	</tr>
	<tr>
		<td colspan="2">$konto&nbsp;</td>
	</tr>
	<tr>
		<td colspan="2" align="center">$adminaction</td>
	</tr>
	</tbody>
</table>
