<table width="100%" cellpadding="2" cellspacing="0" border="0" bgcolor="$border">
  <tr>
    <td colspan="2" bgcolor="$bghead" class="title">&nbsp;&#8226; $usage</td>
  </tr>
  <tr><td colspan="2" bgcolor="$pagebg"></td></tr>
  <tr>
    <td bgcolor="$bg2">%saved_on%:</td>
    <td bgcolor="$bg2" align="right"><b>$date</b></td>
  </tr>
  <tr>
    <td bgcolor="$bg2">%total_costs%:</td>
    <td bgcolor="$bg2" align="right"><b>$ds[totalcosts] &#8364;</b></td>
  </tr>
  <tr>
    <td bgcolor="$bg1">%costs_member%:</td>
    <td bgcolor="$bg1" align="right"><b>$ds[usercosts] &#8364;</b></td>
  </tr>
  <tr>
    <td bgcolor="$bg2">%pay_until%:</td>
    <td bgcolor="$bg2" align="right"><b>$paydate</b></td>
  </tr>
  <tr>
    <td bgcolor="$bg1" colspan="2">%bank_account%:</td>
  </tr>
  <tr>
    <td bgcolor="$bg2" colspan="2">$konto&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2" bgcolor="$bg1" align="center">$adminaction</td>
  </tr>
</table>