<table class="table">
	<thead>
	<tr>
		<th colspan="2">$usage</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>%saved_on%:</td>
		<td class="text-right"><strong>$date</strong></td>
	</tr>
	<tr>
		<td>%total_costs%:</td>
		<td class="text-right"><strong>$ds[totalcosts] &#8364;</strong></td>
	</tr>
	<tr>
		<td>%costs_member%:</td>
		<td class="text-right"><strong>$ds[usercosts] &#8364;</strong></td>
	</tr>
	<tr>
		<td>%pay_until%:</td>
		<td class="text-right"><strong>$paydate</strong></td>
	</tr>
	<tr>
		<td colspan="2">%bank_account%:</td>
	</tr>
	<tr>
		<td colspan="2">$konto&nbsp;</td>
	</tr>
	<tr>
		<td colspan="2" class="text-center">$adminaction</td>
	</tr>
	</tbody>
</table>
