<script language="JavaScript" type="text/javascript">
<!--
function chkFormular() {
	if(!validbbcode(document.getElementById('info').value)){
		document.getElementById('info').focus();
		return false;
	}
	
}
-->
</script>
<form action="index.php?site=challenge&amp;action=save" method="post" name="post" onsubmit="return chkFormular()" role="form">

    <h3>%challenge%</h3>
    <div class="text-center">$showerror</div>

    <div class="row">

        <div class="col-md-6">
            <div class="form-group">
                <label for="datetime">%date%:</label>
                <input name="datetime" id="datetime" type="datetime-local" class="form-control">
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label for="squad">%squad%:</label>
                <select name="squad" id="squad" class="form-control">$squads</select>
            </div>
        </div>

        <div class="col-md-6">

            <div class="form-group">
                <label for="opponent">%opponent%:</label>
                <input name="opponent" id="opponent" value="$opponent" type="text" class="form-control">
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label for="league">%league%:</label>
                <input name="league" id="league" value="$league" type="text" class="form-control">
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label for"opphp">%homepage%:</label>
                <input name="opphp" value="$opphp" type="text" class="form-control">
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label for="oppcountry">%country%:</label>
                <select name="oppcountry" id="oppcountry" class="form-control">$countries</select>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label for="map">%map%:</label>
                <input name="map" id="map" value="$map" type="text" class="form-control">
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label for="server">%server%:</label>
                <input name="server" id="server" value="$server" type="text" class="form-control">
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label for="email">%email%:</label>
                <input name="email" id="email" value="$email" type="text" class="form-control">
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label for="captcha">%security_code%:</label>
                $captcha
                <input type="number" id="captcha" name="captcha" size="10" class="form-control">
                <input name="captcha_hash" type="hidden" value="$hash">
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="form-group">
            <label for="info">%info%:</label>
            <textarea name="info" id="info" cols="50" rows="5" class="form-control">$info</textarea>
        </div>
    </div>

    <div class="form-group text-right">
        <input name="post" type="submit" value="%submit_challenge%" class="btn btn-primary">
    </div>

</form>