<script>
	<!--
	function chkFormular() {
		if (!validbbcode(document.getElementById('info').value)) {
			document.getElementById('info').focus();

			return false;
		}

	}
	-->
</script>
<form action="index.php?site=challenge&amp;action=save" method="post" name="post"
		onsubmit="return chkFormular()" role="form">

	<h3>%challenge%</h3>
	$showerror

	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label for="date">%date%:</label>
				<input name="datetime" id="date" type="datetime-local" class="form-control">
			</div>
		</div>

		<div class="col-sm-6">
			<div class="form-group">
				<label for="squad">%squad%:</label>
				<select name="squad" id="squad" class="form-control">$squads</select>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="form-group">
				<label for="opponent">%opponent%:</label>
				<input name="opponent" id="opponent" value="$opponent" type="text"
						class="form-control">
			</div>
		</div>

		<div class="col-sm-6">
			<div class="form-group">
				<label for="league">%league%:</label>
				<input name="league" id="league" value="$league" type="text" class="form-control">
			</div>
		</div>

		<div class="col-sm-6">
			<div class="form-group">
				<label for="opphp">%homepage%:</label>
				<input name="opphp" id="opphp" value="$opphp" type="text" class="form-control">
			</div>
		</div>

		<div class="col-sm-6">
			<div class="form-group">
				<label for="oppcountry">%country%:</label>
				<select name="oppcountry" id="oppcountry" class="form-control">$countries</select>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="form-group">
				<label for="map">%map%:</label>
				<input name="map" id="map" value="$map" type="text" class="form-control">
			</div>
		</div>

		<div class="col-sm-6">
			<div class="form-group">
				<label for="server">%server%:</label>
				<input name="server" id="server" value="$server" type="text" class="form-control">
			</div>
		</div>

		<div class="col-sm-6">
			<div class="form-group">
				<label for="email">%email%:</label>
				<input name="email" id="email" type="text" value="$email" class="form-control">
			</div>
		</div>
	</div>

	<div class="form-group">
		<label for="info">%info%:</label>
		<textarea name="info" id="info" cols="50" rows="5" class="form-control">$info</textarea>
	</div>

	<div class="form-group text-right">
		<input name="post" type="submit" value="%submit_challenge%" class="btn btn-primary">
	</div>

</form>
