<table width="100%" border="0" cellspacing="0" cellpadding="2" bgcolor="$border">
  <tr bgcolor="$bghead">
    <td class="title">%challenge_from% $date</td>
  </tr>
  <tr bgcolor="$bg1">
    <td>
    <table width="100%" cellspacing="0" cellpadding="2">
      <tr>
        <td width="20%">%opponent%:</td>
        <td>$country $opponent</td>
      </tr>
      <tr>
        <td>%date%:</td>
        <td>$cwdate</td>
      </tr>
      <tr>
        <td>%squad%:</td>
        <td>$squad</td>
      </tr>
      <tr>
        <td>%league%:</td>
        <td>$league</td>
      </tr>
      <tr>
        <td>%map%:</td>
        <td>$map</td>
      </tr>
      <tr>
        <td>%server%:</td>
        <td>$server</td>
      </tr>
      <tr>
        <td>%email%:</td>
        <td>$email</td>
      </tr>
      <tr>
        <td>%info%:</td>
        <td>$info</td>
      </tr>
    </table>
    <hr />
    $actions</td>
  </tr>
</table>
<br />