<form method="post" name="form" action="clanwars.php">
<table width="100%" cellspacing="0" border="0" cellpadding="2" bgcolor="$border">
  <tr bgcolor="$bghead">
    <td class="title" align="center">$headdate</td>
    <td class="title" align="center">$headgame</td>
    <td class="title" align="center">$headsquad</td>
    <td class="title" align="center">%opponent%:</td>
    <td class="title" width="10" align="center">$headcountry</td>
    <td class="title" align="center">$headleague</td>
    <td class="title" align="center">%result%:</td>
    <td class="title" align="center">%details%:</td>
  </tr>
  <tr><td colspan="8" bgcolor="$pagebg"></td></tr>