<div class="panel">
    <div class="panel-heading"><b>%report%</b></div>
    <div class="panel-body">$report</div>
</div>

<div class="table-responsive">
<table class="table table-striped">
  <tr>
    <th width="20%">%date%:</th>
    <td>$date</td>
  </tr>
  <tr>
    <th>%game% / %squad%:</th>
    <td>$game $squad</td>
  </tr>
  <tr>
    <th>%opponent%:</th>
    <td>$opponent</td>
  </tr>
  <tr>
    <th>%league%:</th>
    <td>$league <a href="http://$linkpage" target="_blank">[%matchlink%]</a></td>
  </tr>
  <tr>
    <th>%maps%:</th>
    <td>$maps</td>
  </tr>
  <tr>
    <th valign="top">%result%:</th>
    <td>
    <table class="table table-striped">
      <tr>
        <th width="30%">%map%</th>
        <th colspan="4">%result%</th>
      </tr>
      $extendedresults
      <tr>
        <td>%total%</td>
        <td ><b>$results_1</b></td>
	  	<td><b>:</b></td>
	  	<td><b>$results_2</b></td>
        <td></td>
      </tr>
    </table>
    </td>
  </tr>
  <tr>
    <th>$myclantag %team%:</th>
    <td>$hometeam</td>
  </tr>
  <tr>
    <th>$opptag %team%:</th>
    <td>$oppteam</td>
  </tr>
  <tr>
    <th>%server%:</th>
    <td>$server</td>
  </tr>
  <tr>
    <th>%hltv_server%:</th>
    <td>$hltv</td>
  </tr>
  <tr>
    <th>%screenshots%:</th>
    <td>$screenshots</td>
  </tr>
</table>
</div>

<div class="table-responsive">
<table>
  <tr>
    <td>$adminaction</td>
  </tr>
</table>
</div>