<div class="row">
	<div class="col-sm-6">
		<table class="table">
			<tr>
				<td>%total_clanwars%:</td>
				<td class="text-center"><strong>$totaltotal</strong></td>
			</tr>
			<tr>
				<td>%total_won_clanwars%:</td>
				<td class="text-center"><strong class="ws-win-color">$totalwonall</strong></td>
			</tr>
			<tr>
				<td>%total_lost_clanwars%:</td>
				<td class="text-center"><strong class="ws-lose-color">$totalloseall</strong></td>
			</tr>
			<tr>
				<td>%total_draw_clanwars%:</td>
				<td class="text-center"><strong class="ws-draw-color">$totaldrawall</strong></td>
			</tr>
			<tr>
				<td>%total_won_points%:</td>
				<td class="text-center">$totalhome</td>
			</tr>
			<tr>
				<td>%total_lost_points%:</td>
				<td class="text-center">$totalopp</td>
			</tr>
		</table>
	</div>

	<div class="col-sm-6">
		<table class="table">
			<tr>
				<td class="text-center" valign="bottom">$totalwon</td>
				<td class="text-center" valign="bottom">$totallost</td>
				<td class="text-center" valign="bottom">$totaldraw</td>
			</tr>
			<tr>
				<td class="text-center" valign="top">%won%</td>
				<td class="text-center" valign="top">%lost%</td>
				<td class="text-center" valign="top">%draw%</td>
			</tr>
		</table>
	</div>
</div>
