<table width="100%" border="0" cellpadding="2" cellspacing="0" bgcolor="$border">
  <tr>
    <td class="title" bgcolor="$bghead">$squad - %stat%:</td>
  </tr>
  <tr><td bgcolor="$pagebg"></td></tr>
  <tr>
    <td bgcolor="$bg1">
    <table width="100%" border="0" cellpadding="2" cellspacing="0">
      <tr>
        <td>
        <table border="0" cellspacing="0" cellpadding="2" bgcolor="$border">
          <tr bgcolor="$bg1">
            <td width="70%">%total_clanwars%:</td>
            <td width="30%" align="center"><b>$totaltotal</b></td>
          </tr>
          <tr bgcolor="$bg1">
            <td>%total_won_clanwars%:</td>
            <td align="center"><b><font color="$wincolor">$totalwonall</font></b></td>
          </tr>
          <tr bgcolor="$bg1">
            <td>%total_lost_clanwars%:</td>
            <td align="center"><font color="$loosecolor"><b>$totalloseall</b></font></td>
          </tr>
          <tr bgcolor="$bg1">
            <td>%total_draw_clanwars%:</td>
            <td align="center"><font color="$drawcolor"><b>$totaldrawall</b></font></td>
          </tr>
          <tr bgcolor="$bg1">
            <td>%total_won_points%:</td>
            <td align="center">$totalhome</td>
          </tr>
          <tr bgcolor="$bg1">
            <td>%total_lost_points%:</td>
            <td align="center">$totalopp</td>
          </tr>
        </table>
        </td>
        <td align="right" valign="bottom">
        <table border="0" cellspacing="0" cellpadding="2">
          <tr>
            <td width="60" align="center" valign="bottom">$totalwon</td>
            <td width="60" align="center" valign="bottom">$totallost</td>
            <td width="60" align="center" valign="bottom">$totaldraw</td>
          </tr>
          <tr>
            <td align="center" valign="top">%won%</td>
            <td align="center" valign="top">%lost%</td>
            <td align="center" valign="top">%draw%</td>
          </tr>
        </table>
        </td>
      </tr>
    </table>
    </td>
  </tr>
</table>
<br />