<div class="row">
	<div class="col-sm-6">
		<table class="table">
			<tr>
				<th></th>
				<th>%squad%:</th>
				<th>%clan%:</th>
				<th>%percent%:</th>
			</tr>
			<tr>
				<th>%clanwars%:</th>
				<td><strong>$total</strong></td>
				<td>$totaltotal</td>
				<td> $totalperc %</td>
			</tr>
			<tr>
				<th class="ws-win-color">%won_clanwars%:</th>
				<td class="ws-win-color">$wonall</td>
				<td class="ws-win-color">$totalwonall</td>
				<td class="ws-win-color">$wonperc %</td>
			</tr>
			<tr>
				<th class="ws-loose-color">%lost_clanwars%:</th>
				<td class="ws-loose-color">$loseall</td>
				<td class="ws-loose-color">$totalloseall</td>
				<td class="ws-loose-color">$loseperc %</td>
			</tr>
			<tr>
				<th class="ws-draw-color">%draw_clanwars%:</th>
				<td class="ws-draw-color">$drawall</td>
				<td class="ws-draw-color">$totaldrawall</td>
				<td class="ws-draw-color">$drawperc %</td>
			</tr>
			<tr>
				<th>%won_points%:</th>
				<td>$home</td>
				<td>$totalhome</td>
				<td>$homeperc %</td>
			</tr>
			<tr>
				<th>%lost_points%:</th>
				<td>$opp</td>
				<td>$totalopp</td>
				<td>$oppperc %</td>
			</tr>
		</table>
	</div>
	<div class="col-sm-6">
		<table class="table">
			<tr>
				<td>$totalwon</td>
				<td>$totallost</td>
				<td>$totaldraw</td>
			</tr>
			<tr>
				<td>%won%</td>
				<td>%lost%</td>
				<td>%draw%</td>
			</tr>
		</table>
	</div>
</div>
