<div class="row">
	<div class="col-sm-6">
		<table class="table">
			<tr>
				<th></th>
				<th>%squad%:</th>
				<th>%clan%:</th>
				<th>%percent%:</th>
			</tr>
			<tr>
				<th>%clanwars%:</th>
				<td><b>$total</b></td>
				<td>$totaltotal</td>
				<td> $totalperc %</td>
			</tr>
			<tr>
				<th><font color="$wincolor">%won_clanwars%:</font></th>
				<td><font color="$wincolor">$wonall</font></td>
				<td><font color="$wincolor">$totalwonall</font></td>
				<td><font color="$wincolor">$wonperc %</font></td>
			</tr>
			<tr>
				<th><font color="$loosecolor">%lost_clanwars%:</font></th>
				<td><font color="$loosecolor"$loseall</font></td>
				<td><font color="$loosecolor">$totalloseall</font></td>
				<td><font color="$loosecolor">$loseperc %</font></td>
			</tr>
			<tr>
				<th><font color="$drawcolor">%draw_clanwars%:</font></th>
				<td><font color="$drawcolor">$drawall</font></td>
				<td><font color="$drawcolor">$totaldrawall</font></td>
				<td><font color="$drawcolor">$drawperc %</font></td>
			</tr>
			<tr>
				<th>%won_points%:</th>
				<td>$home</td>
				<td>$totalhome</td>
				<td>$homeperc %</td>
			</tr>
			<tr>
				<th>%lost_points%:</th>
				<td>$opp</td>
				<td>$totalopp</td>
				<td>$oppperc %</td>
			</tr>
		</table>
	</div>
	<div class="col-sm-6">
		<table class="table">
			<tr>
				<td>$totalwon</td>
				<td>$totallost</td>
				<td>$totaldraw</td>
			</tr>
			<tr>
				<td>%won%</td>
				<td>%lost%</td>
				<td>%draw%</td>
			</tr>
		</table>
	</div>
</div>
