<table width="100%" border="0" cellpadding="2" cellspacing="0" bgcolor="$border">
  <tr>
    <td class="title" bgcolor="$bghead">$squad - %stat%:</td>
  </tr>
  <tr><td bgcolor="$pagebg"></td></tr>
  <tr>
    <td bgcolor="$bg1">
    <table width="100%" border="0" cellpadding="2" cellspacing="0">
      <tr>
        <td>
        <table width="100%" border="0" cellpadding="2" cellspacing="0" bgcolor="$border">
          <tr bgcolor="$bg1">
            <td>&nbsp;</td>
            <td align="right">%squad%:</td>
            <td align="right">%clan%:</td>
            <td align="right">%percent%:</td>
          </tr>
          <tr bgcolor="$bg1">
            <td width="40%">%clanwars%:</td>
            <td width="18%" align="right"><b>$total</b></td>
            <td width="18%" align="right">$totaltotal</td>
            <td width="24%" align="right"> $totalperc %</td>
          </tr>
          <tr bgcolor="$bg1">
            <td><font color="$wincolor">%won_clanwars%:</font></td>
            <td align="right"><b><font color="$wincolor">$wonall</font></b></td>
            <td align="right"><font color="$wincolor">$totalwonall</font></td>
            <td align="right"><font color="$wincolor">$wonperc %</font></td>
          </tr>
          <tr bgcolor="$bg1">
            <td><font color="$loosecolor">%lost_clanwars%:</font></td>
            <td align="right"><font color="$loosecolor"><b>$loseall</b></font></td>
            <td align="right"><font color="$loosecolor">$totalloseall</font></td>
            <td align="right"><font color="$loosecolor">$loseperc %</font></td>
          </tr>
          <tr bgcolor="$bg1">
            <td><font color="$drawcolor">%draw_clanwars%:</font></td>
            <td align="right"><font color="$drawcolor"><b>$drawall</b></font></td>
            <td align="right"><font color="$drawcolor">$totaldrawall</font></td>
            <td align="right"><font color="$drawcolor">$drawperc %</font></td>
          </tr>
          <tr bgcolor="$bg1">
            <td>%won_points%:</td>
            <td align="right">$home</td>
            <td align="right">$totalhome</td>
            <td align="right">$homeperc %</td>
          </tr>
          <tr bgcolor="$bg1">
            <td>%lost_points%:</td>
            <td align="right">$opp</td>
            <td align="right">$totalopp</td>
            <td align="right">$oppperc %</td>
          </tr>
        </table>
        </td>
        <td align="right" valign="bottom">
        <table border="0" cellspacing="0" cellpadding="2">
          <tr>
            <td width="60" align="center" valign="bottom">$totalwon</td>
            <td width="60" align="center" valign="bottom">$totallost</td>
            <td width="60" align="center" valign="bottom">$totaldraw</td>
          </tr>
          <tr>
            <td align="center" valign="top">%won%</td>
            <td align="center" valign="top">%lost%</td>
            <td align="center" valign="top">%draw%</td>
          </tr>
        </table>
        </td>
      </tr>
    </table>
    </td>
  </tr>
</table>
<br />