<table width="100%" border="0" cellspacing="0" cellpadding="2" bgcolor="$border">
  <tr bgcolor="$bghead">
    <td class="title" align="left"><div style="overflow:hidden;">#$n %by% $poster $member <i>$date</i></div></td>
  </tr>
  <tr><td bgcolor="$pagebg"></td></tr>
  <tr bgcolor="$bg1">
    <td align="left">
    <table width="100%" border="0" cellspacing="0" cellpadding="2">
      <tr>
        <td height="20">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="10" rowspan="2" valign="top">$avatar</td>
            <td width="10" rowspan="2">&nbsp;</td>
            <td height="10">$country $email $hp $pm $buddy $statuspic $ip</td>
            <td align="right">$quote $edit $actions</td>
          </tr>
          <tr>
            <td colspan="2" valign="top"><hr /><div style="overflow:hidden;">$content</div></td>
          </tr>
        </table>
        </td>
      </tr>
    </table>
    </td>
  </tr>
</table>
<br />