<!--%description%-->
$showerror

<form action="index.php?site=contact" method="post" role="form">
    <input type="hidden" name="action" value="send">
    <div class="form-group">
        <label for="getemail">%receiver%</label>
        <select name="getemail" class="form-control">$getemail</select>
    </div>
    <div class="form-group">     
        <label for="name">%name%</label>
        <input name="name" value="$name" class="form-control">
    </div>
            
    <div class="form-group">        
        <label for="from">%mail%</label>
        <input name="from" value="$from" class="form-control">
    </div>
    
    <div class="form-group">
        <label for="subject">%subject%</label>
        <input name="subject" value="$subject" class="form-control">
    </div>
        
    <div class="form-group">
        <label for="text">%message%</label>
        <textarea name="text" cols="50" rows="6" class="form-control">$text</textarea>
    </div>
    
    <div class="form-group text-right">
        <input type="submit" value="%send%" class="btn btn-primary">
    </div>
</form>