<div class="row">
	<div class="col-lg-6">
		<b>%visits%</b>
		<ul class="list-group">
			<li class="list-group-item"><span class="badge">$today</span> %today%</li>
			<li class="list-group-item"><span class="badge">$yesterday</span> %yesterday%</li>
			<li class="list-group-item"><span class="badge">$month</span> %this_month%</li>
			<li class="list-group-item"><span class="badge">$total</span> %total%</li>
		</ul>
		<b>%total_statistic%</b>
		<ul class="list-group">
			<li class="list-group-item"><span class="badge">$days_online</span> %daysonline%</li>
			<li class="list-group-item"><span class="badge">$permonth</span> %visits_month%</li>
			<li class="list-group-item"><span class="badge">$perday</span> %visits_day%</li>
			<li class="list-group-item"><span class="badge">$perhour</span> %visits_hour%</li>
			<li class="list-group-item"><span class="badge">$maxvisits</span> %max_day%</li>
		</ul>

	</div>
	<div class="col-lg-6">
		<b>%online%</b>
		<ul class="list-group">
			<li class="list-group-item"><span class="badge">$online ($user_on / $guests_on)</span>
				%now%
			</li>
			<li class="list-group-item"><span class="badge">$maxonline</span> %maximum%</li>
			<li class="list-group-item"><span class="badge">$online_lasthour</span> %lasthour%</li>
		</ul>
		<b>%user_statistic%</b>
		<ul class="list-group">
			<li class="list-group-item"><span class="badge">$avg_age_user</span> %avg_age%</li>
			<li class="list-group-item"><span class="badge">$avg_age_member</span>
				%avg_age_clanmember%
			</li>
			<li class="list-group-item">
				<span class="badge">$get_young[age]</span>
				%youngest_user%<br>
				<a href='index.php?site=profile&amp;id=$get_young[userID]'>$get_young[nickname]</a>
			</li>
			<li class="list-group-item">
				<span class="badge">$get_old[age]</span>
				%oldest_user%<br>
				<a href='index.php?site=profile&amp;id=$get_old[userID]'>$get_old[nickname]</a>
			</li>
			<li class="list-group-item"><span class="badge">$us</span> %registered_users%</li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<b>%this_month%</b>
		<ul class="list-group">
			$monatsstat
		</ul>
	</div>
</div>
