<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">%edit_demo%</h3>
    </div>
    <div class="panel-body">
        <form
                action="index.php?site=demos"
                method="post"
                enctype="multipart/form-data"
                role="form"
                class="form-horizontal">

            <!-- Date -->
            <div class="form-group">
                <label for="input-date" class="col-sm-4 control-label">%date%:</label>

                <div class="col-sm-8">
                    <input type="date" name="date" class="form-control" id="input-date" placeholder="yyyy-mm-dd" value="$date">
                </div>
            </div>

            <!-- Game -->
            <div class="form-group">
                <label for="input-game" class="col-sm-4 control-label">%game%:</label>

                <div class="col-sm-8">
                    <select name="game" id="input-game" class="form-control">$games</select>
                </div>
            </div>

            <hr>

            <!-- Clan 1 name -->
            <div class="form-group">
                <label for="input-clanname1" class="col-sm-4 control-label">%clan1_name%:</label>

                <div class="col-sm-8">
                    <input type="text" name="clanname1" class="form-control" id="input-clanname1" value="$clanname1">
                </div>
            </div>

            <!-- Clan 1 tag -->
            <div class="form-group">
                <label for="input-clan1" class="col-sm-4 control-label">%clan1_tag%:</label>

                <div class="col-sm-8">
                    <input type="text" name="clan1" class="form-control" id="input-clan1" value="$clan1">
                </div>
            </div>

            <!-- Clan 1 country -->
            <div class="form-group">
                <label for="input-country1" class="col-sm-4 control-label">%clan1_country%:</label>

                <div class="col-sm-8">
                    <select name="country1" id="input-country1" class="form-control">$country1</select>
                </div>
            </div>

            <!-- Clan 1 hp -->
            <div class="form-group">
                <label for="input-hp1" class="col-sm-4 control-label">%clan1_homepage%:</label>

                <div class="col-sm-8">
                    <input type="url" name="hp1" class="form-control" id="input-hp1" placeholder="http://" value="$url1">
                </div>
            </div>

            <hr>

            <!-- Clan 2 name -->
            <div class="form-group">
                <label for="input-clanname2" class="col-sm-4 control-label">%clan2_name%:</label>

                <div class="col-sm-8">
                    <input type="text" name="clanname2" class="form-control" id="input-clanname2" value="$clanname2">
                </div>
            </div>

            <!-- Clan 2 tag -->
            <div class="form-group">
                <label for="input-clan2" class="col-sm-4 control-label">%clan2_tag%:</label>

                <div class="col-sm-8">
                    <input type="text" name="clan2" class="form-control" id="input-clan2" value="$clan2">
                </div>
            </div>

            <!-- Clan 2 country -->
            <div class="form-group">
                <label for="input-country2" class="col-sm-4 control-label">%clan2_country%:</label>

                <div class="col-sm-8">
                    <select name="country2" id="input-country2" class="form-control">$country2</select>
                </div>
            </div>

            <!-- Clan 2 hp -->
            <div class="form-group">
                <label for="input-hp2" class="col-sm-4 control-label">%clan2_homepage%:</label>

                <div class="col-sm-8">
                    <input type="url" name="hp2" class="form-control" id="input-hp2" placeholder="http://" value="$url2">
                </div>
            </div>

            <hr>

            <!-- League -->
            <div class="form-group">
                <label for="input-league" class="col-sm-4 control-label">%league%:</label>

                <div class="col-sm-8">
                    <input type="text" name="league" class="form-control" id="input-league" value="$league">
                </div>
            </div>

            <!-- Leaguehp -->
            <div class="form-group">
                <label for="input-leaguehp" class="col-sm-4 control-label">%league_homepage%:</label>

                <div class="col-sm-8">
                    <input type="url" name="leaguehp" class="form-control" id="input-leaguehp" placeholder="http://" value="$leaguehp">
                </div>
            </div>

            <!-- Maps -->
            <div class="form-group">
                <label for="input-maps" class="col-sm-4 control-label">%maps%:</label>

                <div class="col-sm-8">
                    <input type="text" name="maps" class="form-control" id="input-maps" value="$maps">
                </div>
            </div>

            <!-- Players -->
            <div class="form-group">
                <label for="input-player" class="col-sm-4 control-label">%players%:</label>

                <div class="col-sm-8">
                    <input type="text" name="player" class="form-control" id="input-player" value="$player">
                </div>
            </div>

            <!-- Demo -->
            <div class="form-group">
                <label for="input-demo" class="col-sm-4 control-label">%demo_upload%:</label>

                <div class="col-sm-8">
                    <input type="file" name="demo" id="input-demo">
                </div>
            </div>

            <!-- Link -->
            <div class="form-group">
                <label for="input-link" class="col-sm-4 control-label">%extern_link%:</label>

                <div class="col-sm-8">
                    <input type="url" name="link" class="form-control" id="input-link" placeholder="http://" value="$extern">
                </div>
            </div>

            <!-- Comments -->
            <div class="form-group">
                <div class="col-sm-8 col-sm-offset-4">
                    <select name="comments" class="form-control">
                        <option value="0">%disable_comments%</option>
                        <option value="1">%user_comments%</option>
                        <option value="2" selected="selected">%visitor_comments%</option>
                    </select>
                </div>
            </div>

            <!-- Submit button -->
            <div class="form-group">
                <div class="col-sm-8 col-sm-offset-4">
                    <input type="hidden" name="demoID" value="$demoID">
                    <a href="index.php?site=demos" class="btn btn-default btn-sm" role="button">%back%</a>
                    <button type="submit" name="saveedit" class="btn btn-primary btn-sm">%update_demo%</button>
                </div>
            </div>

        </form>
    </div>
</div>
