<form action="demos.php" method="post" enctype="multipart/form-data">
<table width="100%" border="0" cellspacing="0" cellpadding="2" bgcolor="$border">
  <tr>
    <td class="title" align="center" bgcolor="$bghead">%new_demo%</td>
  </tr>
  <tr><td bgcolor="$pagebg"></td></tr>
  <tr>
    <td bgcolor="$bg1">
    <table width="100%" border="0" align="center" cellpadding="2" cellspacing="0">
      <tr>
        <td align="right">%date%:</td>
        <td><select name="day">$day</select>
        <select name="month">$month</select>
        <select name="year">$year</select></td>
      </tr>
      <tr>
        <td align="right">%game%:</td>
        <td><select name="game">$games</select></td>
      </tr>
      <tr>
        <td colspan="2" align="right"><hr /></td>
      </tr>
      <tr>
        <td align="right">%clan1_name%:</td>
        <td><input name="clanname1" type="text" size="35" /></td>
      </tr>
      <tr>
        <td align="right">%clan1_tag%:</td>
        <td><input name="clan1" type="text" size="8" /></td>
      </tr>
      <tr>
        <td align="right">%clan1_country%:</td>
        <td><select name="country1" >$countries</select></td>
      </tr>
      <tr>
        <td align="right">%clan1_homepage%</td>
        <td><input name="hp1" type="text" value="http://" size="35" /></td>
      </tr>
      <tr>
        <td colspan="2" align="right"><hr /></td>
      </tr>
      <tr>
        <td align="right">%clan2_name%:</td>
        <td><input name="clanname2" type="text" size="35" /></td>
      </tr>
      <tr>
        <td align="right">%clan2_tag%:</td>
        <td><input name="clan2" type="text" size="8" /></td>
      </tr>
      <tr>
        <td align="right">%clan2_country%:</td>
        <td><select name="country2">$countries</select></td>
      </tr>
      <tr>
        <td align="right">%clan2_homepage%</td>
        <td><input name="hp2" type="text" value="http://" size="35" /></td>
      </tr>
      <tr>
        <td colspan="2" align="right"><hr /></td>
      </tr>
      <tr>
        <td align="right">%league%:</td>
        <td><input name="league" type="text" size="35" /></td>
      </tr>
      <tr>
        <td align="right">%league_homepage%</td>
        <td><input name="leaguehp" type="text" value="http://" size="35" /></td>
      </tr>
      <tr>
        <td align="right">%maps%:</td>
        <td><input name="maps" type="text" size="35" /></td>
      </tr>
      <tr>
        <td align="right">%players%:</td>
        <td><input name="player" type="text" size="35" /></td>
      </tr>
      <tr>
        <td colspan="2" align="right"><hr /></td>
      </tr>
      <tr>
        <td align="right">%demo_upload%:</td>
        <td><input name="demo" type="file" size="30" /></td>
      </tr>
      <tr>
        <td align="right">%extern_link%:</td>
        <td><input name="link" type="text" value="http://" size="35" /></td>
      </tr>
      <tr>
        <td align="right">&nbsp;</td>
        <td><select name="comments">
          <option value="0">%disable_comments%</option>
          <option value="1">%user_comments%</option>
          <option value="2" selected="selected">%visitor_comments%</option>
        </select>
        <br /><br /><input name="save" type="submit" value="%save_demo%" /></td>
      </tr>
    </table>
    </td>
  </tr>
</table>
</form>