<form method="post" action="rating.php">
<table width="100%" border="0" cellspacing="0" cellpadding="2" bgcolor="$border">
  <tr>
    <td colspan="2" class="title" bgcolor="$bghead">%demo_details%</td>
  </tr>
  <tr>
    <td colspan="2" bgcolor="$bg1"></td>
  </tr>
  <tr>
    <td width="10%" bgcolor="$bg1">%date%:</td>
    <td bgcolor="$bg2">$date</td>
  </tr>
  <tr>
    <td bgcolor="$bg3">%game%:</td>
    <td bgcolor="$bg4">$game</td>
  </tr>
  <tr>
    <td bgcolor="$bg1">%clan1%:</td>
    <td bgcolor="$bg2">$clan1</td>
  </tr>
  <tr>
    <td bgcolor="$bg3">%clan2%:</td>
    <td bgcolor="$bg4">$clan2</td>
  </tr>
  <tr>
    <td bgcolor="$bg1">%league%:</td>
    <td bgcolor="$bg2">$league</td>
  </tr>
  <tr>
    <td bgcolor="$bg3">%players%:</td>
    <td bgcolor="$bg4">$player</td>
  </tr>
  <tr>
    <td bgcolor="$bg1">%maps%:</td>
    <td bgcolor="$bg2">$maps</td>
  </tr>
  <tr>
    <td bgcolor="$bg3">%downloads%:</td>
    <td bgcolor="$bg4">$clicks</td>
  </tr>
  <tr>
    <td bgcolor="$bg1">%rating%:</td>
    <td bgcolor="$bg2">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td>$ratingpic</td>
        <td align="right">$rateform</td>
      </tr>
    </table>
    </td>
  </tr>
  <tr>
    <td bgcolor="$bg3">%download%:</td>
    <td bgcolor="$bg4" align="center">$download</td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="2">
  <tr>
    <td align="right">$adminaction</td>
  </tr>
</table>
</form>