  <tr>
    <td bgcolor="$bg1" align="center">$date</td>
    <td bgcolor="$bg2" align="center">$game</td>
    <td bgcolor="$bg1" align="center">$clan1 vs. $clan2</td>
    <td bgcolor="$bg2">$league</td>
    <td bgcolor="$bg1" align="center">$ratingpic</td>
    <td bgcolor="$bg2" align="right">($clicks) 
    <a href="index.php?site=demos&amp;action=showdemo&amp;demoID=$ds[demoID]">
    <img src="images/icons/download.gif" width="15" height="15" border="0" alt="%download_now%" /></a></td>
  </tr>