<table width="100%" cellpadding="2" cellspacing="0" border="0" bgcolor="$border">
  <tr bgcolor="$pagebg">
    <td>
    <table width="100%" border="0" cellspacing="0" cellpadding="2">
      <tr>
        <td width="50%"><b>%category_cl%</b></td>
        <td width="20%" align="center"><b>%subcategories%</b></td>
        <td width="15%" align="center"><b>%files_cl%</b></td>
        <td width="15%" align="center"><b>%downloads_cl%</b></td>
      </tr>
    </table>
    </td>
  </tr>
  <tr><td bgcolor="$pagebg"></td></tr>