$adminactions
<ol class="breadcrumb">
    <li><a href="index.php?site=files">%files_cl%</a></li>
    <li>$category</li>
    <li>$filename</li>
</ol>

<table class="table table-striped">
    <tr>
        <td>%info_description%:</td>
        <td>$fileinfo</td>
    </tr>
    <tr>
        <td>%category_cl%:</td>
        <td>$categories</td>
    </tr>
    <tr>
        <td>%uploader%:</td>
        <td>$uploader</td>
    </tr>
    <tr>
        <td>%uploaded_on%:</td>
        <td>$date</td>
    </tr>
    <tr>
        <td>%rating%:</td>
        <td>$ratingpic ($rating$filevotes)</td>
    </tr>
    <tr>
        $rateform
    </tr>
    <tr>
        <td>%size%:</td>
        <td>$filesize</td>
    </tr>
    <tr>
        <td>%downloads_cl%:</td>
        <td>$downloads x</td>
    </tr>
    <tr>
        <td>%traffic_cl%:</td>
        <td>$traffic</td>
    </tr>
    <tr>
        <td colspan="2" class="text-center">$reportlink</td>
    </tr>
    <tr>
        <td colspan="2" class="text-center">$link</td>
    </tr>
    <tr>
        <td>%mirrors%:</td>
        <td>$mirrorlist</td>
    </tr>
    $admintools
</table>
