<table width="100%" border="0" cellspacing="0" cellpadding="2">
  <tr>
    <td align="center"><a href="javascript:AddCode('[flag]at[/flag]')"><img src="../images/flags/at.gif" width="18" height="12" border="0" alt="Austria" title="Austria" /></a></td>
    <td align="center"><a href="javascript:AddCode('[flag]bg[/flag]')"><img src="../images/flags/bg.gif" width="18" height="12" border="0" alt="Bulgaria" title="Bulgaria" /></a></td>
    <td align="center"><a href="javascript:AddCode('[flag]br[/flag]')"><img src="../images/flags/br.gif" width="18" height="12" border="0" alt="Brazil" title="Brazil" /></a></td>
    <td align="center"><a href="javascript:AddCode('[flag]cn[/flag]')"><img src="../images/flags/cn.gif" width="18" height="12" border="0" alt="China" title="China" /></a></td>
    <td align="center"><a href="javascript:AddCode('[flag]cz[/flag]')"><img src="../images/flags/cz.gif" width="18" height="12" border="0" alt="Czech Republic" title="Czech Republic" /></a></td>
    <td align="center"><a href="javascript:AddCode('[flag]dk[/flag]')"><img src="../images/flags/dk.gif" width="18" height="12" border="0" alt="Denmark" title="Denmark" /></a></td>
    <td align="center"><a href="javascript:AddCode('[flag]fr[/flag]')"><img src="../images/flags/fr.gif" width="18" height="12" border="0" alt="France" title="France" /></a></td>
    <td align="center"><a href="javascript:AddCode('[flag]fi[/flag]')"><img src="../images/flags/fi.gif" width="18" height="12" border="0" alt="Finland" title="Finland" /></a></td>
    <td align="center"><a href="javascript:AddCode('[flag]de[/flag]')"><img src="../images/flags/de.gif" width="18" height="12" border="0" alt="Germany" title="Germany" /></a></td>
    <td align="center"><a href="javascript:AddCode('[flag]hu[/flag]')"><img src="../images/flags/hu.gif" width="18" height="12" border="0" alt="Hungary" title="Hungary" /></a></td>
    <td align="center"><a href="javascript:AddCode('[flag]it[/flag]')"><img src="../images/flags/it.gif" width="18" height="12" border="0" alt="Italy" title="Italy" /></a></td>
    <td align="center"><a href="javascript:AddCode('[flag]kr[/flag]')"><img src="../images/flags/kr.gif" width="18" height="12" border="0" alt="Korea" title="Korea" /></a></td>
  </tr>
  <tr> 
    <td align="center"><a href="javascript:AddCode('[flag]nl[/flag]')"><img src="../images/flags/nl.gif" width="18" height="12" border="0" alt="Netherlands" title="Netherlands" /></a></td>
    <td align="center"><a href="javascript:AddCode('[flag]no[/flag]')"><img src="../images/flags/no.gif" width="18" height="12" border="0" alt="Norway" title="Norway" /></a></td>
    <td align="center"><a href="javascript:AddCode('[flag]pl[/flag]')"><img src="../images/flags/pl.gif" width="18" height="12" border="0" alt="Poland" title="Poland" /></a></td>
    <td align="center"><a href="javascript:AddCode('[flag]pt[/flag]')"><img src="../images/flags/pt.gif" width="18" height="12" border="0" alt="Portugal" title="Portugal" /></a></td>
    <td align="center"><a href="javascript:AddCode('[flag]ru[/flag]')"><img src="../images/flags/ru.gif" width="18" height="12" border="0" alt="Russian Federation" title="Russian Federation" /></a></td>
    <td align="center"><a href="javascript:AddCode('[flag]es[/flag]')"><img src="../images/flags/es.gif" width="18" height="12" border="0" alt="Spain" title="Spain" /></a></td>
    <td align="center"><a href="javascript:AddCode('[flag]se[/flag]')"><img src="../images/flags/se.gif" width="18" height="12" border="0" alt="Sweden" title="Sweden" /></a></td>
    <td align="center"><a href="javascript:AddCode('[flag]ch[/flag]')"><img src="../images/flags/ch.gif" width="18" height="12" border="0" alt="Switzerland" title="Switzerland" /></a></td>
    <td align="center"><a href="javascript:AddCode('[flag]tr[/flag]')"><img src="../images/flags/tr.gif" width="18" height="12" border="0" alt="Turkey" title="Turkey" /></a></td>
    <td align="center"><a href="javascript:AddCode('[flag]ua[/flag]')"><img src="../images/flags/ua.gif" width="18" height="12" border="0" alt="Ukraine" title="Ukraine" /></a></td>
    <td align="center"><a href="javascript:AddCode('[flag]uk[/flag]')"><img src="../images/flags/uk.gif" width="18" height="12" border="0" alt="United Kingdom" title="United Kingdom" /></a></td>
    <td align="center"><a href="javascript:AddCode('[flag]us[/flag]')"><img src="../images/flags/us.gif" width="18" height="12" border="0" alt="USA" title="USA" /></a></td>
  </tr>
  <tr> 
    <td colspan="12" align="right"><small>[ <a href="javascript:MM_openBrWindow('../flags.php','Flags','scrollbars=yes,width=340,height=500')">%more_flags%</a> ]</small></td>
  </tr>
</table>