<table class="table">
    <tr>
        <td class="text-center">
            <a href="javascript:AddCode('[flag]at[/flag]')">
                <img src="../images/flags/at.gif" width="14" height="11" alt="Austria" title="Austria">
            </a>
        </td>
        <td class="text-center">
            <a href="javascript:AddCode('[flag]bg[/flag]')">
                <img src="../images/flags/bg.gif" width="14" height="11" alt="Bulgaria" title="Bulgaria">
            </a>
        </td>
        <td class="text-center">
            <a href="javascript:AddCode('[flag]br[/flag]')">
                <img src="../images/flags/br.gif" width="14" height="11" alt="Brazil" title="Brazil">
            </a>
        </td>
        <td class="text-center">
            <a href="javascript:AddCode('[flag]cn[/flag]')">
                <img src="../images/flags/cn.gif" width="14" height="11" alt="China" title="China">
            </a>
        </td>
        <td class="text-center">
            <a href="javascript:AddCode('[flag]cz[/flag]')">
                <img src="../images/flags/cz.gif" width="14" height="11" alt="Czech Republic" title="Czech Republic">
            </a>
        </td>
        <td class="text-center">
            <a href="javascript:AddCode('[flag]dk[/flag]')">
                <img src="../images/flags/dk.gif" width="14" height="11" alt="Denmark" title="Denmark">
            </a>
        </td>
        <td class="text-center">
            <a href="javascript:AddCode('[flag]fr[/flag]')">
                <img src="../images/flags/fr.gif" width="14" height="11" alt="France" title="France">
            </a>
        </td>
        <td class="text-center">
            <a href="javascript:AddCode('[flag]fi[/flag]')">
                <img src="../images/flags/fi.gif" width="14" height="11" alt="Finland" title="Finland">
            </a>
        </td>
        <td class="text-center">
            <a href="javascript:AddCode('[flag]de[/flag]')">
                <img src="../images/flags/de.gif" width="14" height="11" alt="Germany" title="Germany">
            </a>
        </td>
        <td class="text-center">
            <a href="javascript:AddCode('[flag]hu[/flag]')">
                <img src="../images/flags/hu.gif" width="14" height="11" alt="Hungary" title="Hungary">
            </a>
        </td>
        <td class="text-center">
            <a href="javascript:AddCode('[flag]it[/flag]')">
                <img src="../images/flags/it.gif" width="14" height="11" alt="Italy" title="Italy">
            </a>
        </td>
        <td class="text-center">
            <a href="javascript:AddCode('[flag]kr[/flag]')">
                <img src="../images/flags/kr.gif" width="14" height="11" alt="Korea" title="Korea">
            </a>
        </td>
    </tr>
    <tr>
        <td class="text-center">
            <a href="javascript:AddCode('[flag]nl[/flag]')">
                <img src="../images/flags/nl.gif" width="14" height="11" alt="Netherlands" title="Netherlands">
            </a>
        </td>
        <td class="text-center">
            <a href="javascript:AddCode('[flag]no[/flag]')">
                <img src="../images/flags/no.gif" width="14" height="11" alt="Norway" title="Norway">
            </a>
        </td>
        <td class="text-center">
            <a href="javascript:AddCode('[flag]pl[/flag]')">
                <img src="../images/flags/pl.gif" width="14" height="11" alt="Poland" title="Poland">
            </a>
        </td>
        <td class="text-center">
            <a href="javascript:AddCode('[flag]pt[/flag]')">
                <img src="../images/flags/pt.gif" width="14" height="11" alt="Portugal" title="Portugal">
            </a>
        </td>
        <td class="text-center">
            <a href="javascript:AddCode('[flag]ru[/flag]')">
                <img src="../images/flags/ru.gif" width="14" height="11" alt="Russian Federation"
                    title="Russian Federation">
            </a>
        </td>
        <td class="text-center">
            <a href="javascript:AddCode('[flag]es[/flag]')">
                <img src="../images/flags/es.gif" width="14" height="11" alt="Spain" title="Spain">
            </a>
        </td>
        <td class="text-center">
            <a href="javascript:AddCode('[flag]se[/flag]')">
                <img src="../images/flags/se.gif" width="14" height="11" alt="Sweden" title="Sweden">
            </a>
        </td>
        <td class="text-center">
            <a href="javascript:AddCode('[flag]ch[/flag]')">
                <img src="../images/flags/ch.gif" width="14" height="11" alt="Switzerland" title="Switzerland">
            </a>
        </td>
        <td class="text-center">
            <a href="javascript:AddCode('[flag]tr[/flag]')">
                <img src="../images/flags/tr.gif" width="14" height="11" alt="Turkey" title="Turkey">
            </a>
        </td>
        <td class="text-center">
            <a href="javascript:AddCode('[flag]ua[/flag]')">
                <img src="../images/flags/ua.gif" width="14" height="11" alt="Ukraine" title="Ukraine">
            </a>
        </td>
        <td class="text-center">
            <a href="javascript:AddCode('[flag]uk[/flag]')">
                <img src="../images/flags/uk.gif" width="14" height="11" alt="United Kingdom" title="United Kingdom">
            </a>
        </td>
        <td class="text-center">
            <a href="javascript:AddCode('[flag]us[/flag]')">
                <img src="../images/flags/us.gif" width="14" height="11" alt="USA" title="USA">
            </a>
        </td>
    </tr>
    <tr>
        <td colspan="12" class="text-right">
            <small>[ <a href="javascript:void(0);" onclick="window.open(
                    '../flags.php',
                    'Flags',
                    'scrollbars=yes,width=340,height=500')">%more_flags%</a>
                ]
            </small>
        </td>
    </tr>
</table>
