<script language="JavaScript" type="text/javascript">
<!--
function chkFormular() {
	if(document.getElementById('message').value == "") {
		alert("%enter_text%");
		document.getElementById('message').focus();
   		return false;
	}
	if(!validbbcode(document.getElementById('message').value)){
		return false;
	}
	
}
-->
</script>

<form action="forum_topic.php?board=$dr[boardID]&amp;topic=$topic&amp;page=$page" method="post" id="post" name="post" onsubmit="return chkFormular()">
    <h3>%edit_reply%</h3>
    <div class="form-group">
        $addbbcode
    </div>

    <div class="form-group">
        <textarea name="message" id="message" rows="10" class="form-control" autofocus>$dr[message]</textarea>
        <small><b>%options%:</b> &#8226; %html_off% &#8226; %bbcode_on% &#8226; %smilies_on%</small>
        <div class="pull-right">$notify</div>
    </div>
    
    <div class="form-group text-right">
        $chk_sticky
        
        <input type="hidden" name="page" value="$page">
        <input type="hidden" name="id" value="$id">
        <input type="submit" name="editreply" value="%edit_reply%" class="btn btn-primary">
    </div>
</form>