<table class="table hidden">
    <tr>
        <td><img src="images/icons/boardicons/on.gif" alt="new posts"> <small>%new_posts%</small></td>
        <td><img src="images/icons/boardicons/off.gif" alt="no new posts"> <small>%no_new_posts%</small></td>
    </tr>
    <tr>
        <td><img src="images/icons/boardicons/ro-on.gif" alt="new posts"> <small>%new_posts% [%read_only%]</small></td>
        <td><img src="images/icons/boardicons/ro-off.gif" alt="no new posts"> <small>%no_new_posts% [%read_only%]</small></td>
    </tr>
</table>
<p class="text-right"><a href="index.php?site=forum&amp;action=markall">%mark_all_read%</a></p>