<br />
<table width="100%" border="0" cellpadding="2" cellspacing="0">
  <tr>
    <td><img src="images/icons/foldericons/newfolder.gif" alt="%new_posts%" /> <small>%new_posts%</small></td>
    <td><img src="images/icons/foldericons/newhotfolder.gif" alt="%new_posts% [%popular%]" /> <small>%new_posts% [%popular%]</small></td>
    <td><img src="images/icons/foldericons/newsticky.gif" alt="%sticky% %topic%" /> <small>%sticky% %topic% [%new_posts%]</small></td>
  </tr>
  <tr>
    <td><img src="images/icons/foldericons/folder.gif" alt="%no_new_posts%" /> <small>%no_new_posts%</small></td>
    <td><img src="images/icons/foldericons/hotfolder.gif" alt="%no_new_posts% [%popular%]" /> <small>%no_new_posts% [%popular%]</small></td>
    <td><img src="images/icons/foldericons/sticky.gif" alt="%sticky% %topic%" /> <small>%sticky% %topic%</small></td>
  </tr>
  <tr>
    <td><img src="images/icons/foldericons/lockfolder.gif" alt="%closed% %topic%" /> <small>%closed% %topic%</small></td>
    <td></td>
    <td></td>
  </tr>
</table>