<div class="panel panel-default">
	<div class="panel-heading">
		$statuspic $username
		<small>$usertype</small>
		<div class="pull-right">$quote <i>$date, $time</i> $pm $buddy $email $hp $actions</div>
	</div>

	<div class="panel-body row">

		<div class="hidden-xs col-sm-3 col-lg-2">
			<ul class="nav text-center">
				<li>$avatar</li>
				<li>$rang</li>
				<li>
					<small>$posts %posts%</small>
				</li>
				<li>
					<small>%registered%: $registered</small>
				</li>
			</ul>
		</div>

		<div class="col-xs-12 col-sm-9 col-lg-10">
			$message
			<small>$signatur</small>
		</div>
	</div>
</div>
