<table width="100%" cellpadding="2" cellspacing="0">
  <tr> 
    <td>$page_link</td>
    <td align="right">$actions</td>
  </tr>
</table>
<table width="100%" cellpadding="2" cellspacing="0" border="0" bgcolor="$border">
  <tr bgcolor="$bghead">
    <td class="title" width="30">&nbsp;</td>
		<td class="title" width="30">&nbsp;</td>
    <td class="title">%topic%:</td>
    <td class="title" width="20%" align="center">%author%:</td>
    <td class="title" width="5%" align="center">%replies%:</td>
    <td class="title" width="5%" align="center">%views%:</td>
	<td class="title" width="20%" align="center">%lastpost%:</td>
  </tr>
  <tr><td colspan="7" bgcolor="$pagebg"></td></tr>