<script>
    <!--
    var topic_submit = false;

    function chkFormular() {
        if (document.getElementById('topicname').value === "") {
            alert("%enter_topic%");
            document.getElementById('topicname').focus();

            return false;
        }

        if (document.getElementById('message').value === "") {
            alert("%enter_text%");
            document.getElementById('message').focus();

            return false;
        }

        if (!validbbcode(document.getElementById('message').value)) {

            return false;
        }

        if (topic_submit) {

            return false;
        }

        topic_submit = true;
    }

    function ChangeFormAction() {
        if (document.getElementById('preview').checked) {
            document.post.action = "index.php?site=forum&addtopic=true";
        } else {
            document.post.action = "forum.php";
        }
    }
    -->
</script>

<form action="forum.php" method="post" id="post" name="post" onsubmit="return chkFormular()">

    <h3>%new_topic%</h3>
    <strong>%topic_icon%:</strong>

    <ul class="nav nav-pills nav-justified">
        <li>
            <input type="radio" class="input" name="icon" value="ausrufezeichen.gif">
            <img src="images/icons/topicicons/ausrufezeichen.gif" alt="!">
        </li>
        <li>
            <input type="radio" class="input" name="icon" value="biggrin.gif">
            <img src="images/icons/topicicons/biggrin.gif" alt="big grin">
        </li>
        <li>
            <input type="radio" class="input" name="icon" value="boese.gif">
            <img src="images/icons/topicicons/boese.gif" alt="evil">
        </li>
        <li>
            <input type="radio" class="input" name="icon" value="bored.gif">
            <img src="images/icons/topicicons/bored.gif" alt="bored">
        </li>
        <li>
            <input type="radio" class="input" name="icon" value="cool.gif">
            <img src="images/icons/topicicons/cool.gif" alt="cool">
        </li>
        <li>
            <input type="radio" class="input" name="icon" value="eek.gif">
            <img src="images/icons/topicicons/eek.gif" alt="eek">
        </li>
        <li>
            <input type="radio" class="input" name="icon" value="frage.gif">
            <img src="images/icons/topicicons/frage.gif" alt="?">
        </li>
        <li>
            <input type="radio" class="input" name="icon" value="frown.gif">
            <img src="images/icons/topicicons/frown.gif" alt="forwn">
        </li>
        <li>
            <input type="radio" class="input" name="icon" value="lampe.gif">
            <img src="images/icons/topicicons/lampe.gif" alt="lamp">
        </li>
        <li>
            <input type="radio" class="input" name="icon" value="mad.gif">
            <img src="images/icons/topicicons/mad.gif" alt="mad">
        </li>
        <li>
            <input type="radio" class="input" name="icon" value="pfeil.gif">
            <img src="images/icons/topicicons/pfeil.gif" alt="->">
        </li>
        <li>
            <input type="radio" class="input" name="icon" value="smile.gif">
            <img src="images/icons/topicicons/smile.gif" alt="smile">
        </li>
        <li>
            <input type="radio" class="input" name="icon" value="text.gif">
            <img src="images/icons/topicicons/text.gif" alt="text">
        </li>
        <li>
            <input type="radio" class="input" name="icon" value="thumb_down.gif">
            <img src="images/icons/topicicons/thumb_down.gif" alt="thumb down">
        </li>
        <li>
            <input type="radio" class="input" name="icon" value="thumb_up.gif">
            <img src="images/icons/topicicons/thumb_up.gif" alt="thumb up">
        </li>
        <li>
            <input type="radio" class="input" name="icon" value="wink.gif">
            <img src="images/icons/topicicons/wink.gif" alt=";)">
        </li>
        <li>
            <input type="radio" class="input" name="icon" value="0" checked="checked"> %no_icon%
        </li>
    </ul>

    <div class="form-group">
        <label for="topicname">%subject%:</label>
        <input name="topicname" type="text" id="topicname" value="$topicname" class="form-control">
    </div>

    <div class="form-group">
        $addbbcode
    </div>

    <div class="form-group">
        <textarea name="message" id="message" rows="10" class="form-control">$message</textarea>
        <small><strong>%options%:</strong> %bbcode_on% | %smilies_on%</small>
        <div class="pull-right">
            <input class="input" type="checkbox" name="notify" value="1" $notify> %notify%
        </div>
    </div>

    <div class="form-group text-right">
        <input class="input" type="checkbox" name="preview" id="preview" value="1" onclick="ChangeFormAction()">
        %preview% $chk_sticky
        <input type="hidden" name="board" value="$board">
        <input type="hidden" name="userID" value="$userID">
        <input type="hidden" name="addtopic" value="true">
        <input name="newtopic" type="submit" value="%post_new_topic%" class="btn btn-primary">
    </div>
</form>
