<ul class="nav nav-pills nav-justified">
    <li>
        <input type="radio" class="input" name="icon" value="ausrufezeichen.gif">
        <img src="images/icons/topicicons/ausrufezeichen.gif" alt="ausrufezeichen.gif">
    </li>
    <li>
        <input type="radio" class="input" name="icon" value="biggrin.gif">
        <img src="images/icons/topicicons/biggrin.gif" alt="biggrin.gif">
    </li>
    <li>
        <input type="radio" class="input" name="icon" value="boese.gif">
        <img src="images/icons/topicicons/boese.gif" alt="boese.gif">
    </li>
    <li>
        <input type="radio" class="input" name="icon" value="bored.gif">
        <img src="images/icons/topicicons/bored.gif" alt="bored.gif">
    </li>
    <li>
        <input type="radio" class="input" name="icon" value="cool.gif">
        <img src="images/icons/topicicons/cool.gif" alt="cool.gif">
    </li>
    <li>
        <input type="radio" class="input" name="icon" value="eek.gif">
        <img src="images/icons/topicicons/eek.gif" alt="eek.gif">
    </li>
    <li>
        <input type="radio" class="input" name="icon" value="frage.gif">
        <img src="images/icons/topicicons/frage.gif" alt="frage.gif">
    </li>
    <li>
        <input type="radio" class="input" name="icon" value="frown.gif">
        <img src="images/icons/topicicons/frown.gif" alt="frown.gif">
    </li>
    <li>
        <input type="radio" class="input" name="icon" value="lampe.gif">
        <img src="images/icons/topicicons/lampe.gif" alt="lampe.gif">
    </li>
    <li>
        <input type="radio" class="input" name="icon" value="mad.gif">
        <img src="images/icons/topicicons/mad.gif" alt="mad.gif">
    </li>
    <li>
        <input type="radio" class="input" name="icon" value="pfeil.gif">
        <img src="images/icons/topicicons/pfeil.gif" alt="pfeil.gif">
    </li>
    <li>
        <input type="radio" class="input" name="icon" value="smile.gif">
        <img src="images/icons/topicicons/smile.gif" alt="smile.gif">
    </li>
    <li>
        <input type="radio" class="input" name="icon" value="text.gif">
        <img src="images/icons/topicicons/text.gif" alt="text.gif">
    </li>
    <li>
        <input type="radio" class="input" name="icon" value="thumb_down.gif">
        <img src="images/icons/topicicons/thumb_down.gif" alt="thumb_down.gif">
    </li>
    <li>
        <input type="radio" class="input" name="icon" value="thumb_up.gif">
        <img src="images/icons/topicicons/thumb_up.gif" alt="thumb_up.gif">
    </li>
    <li>
        <input type="radio" class="input" name="icon" value="wink.gif">
        <img src="images/icons/topicicons/wink.gif" alt="wink.gif">
    </li>
    <li>
        <input type="radio" class="input" name="icon" value="0">
        %no_icon%
    </li>
</ul>
