<table class="table">
	<tr>
		<th>%happy_birthday%</th>
	</tr>
	<tr>
		<td>
			<small>%today%: $birthdays<br>%next_7_days%: $birthweek</small>
		</td>
	</tr>
	<tr>
		<th>%whos_online%</th>
	</tr>
	<tr>
		<td>
			%now_online%: $user_on %and% $guests_on (%maximum_online%: $maxonline)
			<br>$user_names<br><br>
			<small>
				[<span class="ws-lose-color">%admin%</span>]
				[<span class="ws-draw-color">%moderator%</span>]
				[<span class="ws-win-color">%clanmember%</span>]
			</small>
			<br><br>
			<a href="index.php?site=whoisonline#was"><strong>%who_was_online%</strong></a>
		</td>
	</tr>
	<tr>
		<th>%stats%:</th>
	</tr>
	<tr>
		<td>
			<strong>$posts</strong> %posts_in% <strong>$topics</strong> %topics%<br>
			%registered_users%: <strong>$registered</strong><br>
			%newest_member%: $newestmember
		</td>
	</tr>
</table>
