<table width="100%" cellpadding="2" cellspacing="0" bgcolor="$border">
  <tr bgcolor="$bghead">
    <td class="title">%happy_birthday%</td>
  </tr>
  <tr bgcolor="$pagebg"><td></td></tr>
  <tr bgcolor="$bg1">
    <td><small>%today%: $birthdays<br />%next_7_days%: $birthweek</small></td>
  </tr>
  <tr bgcolor="$bghead">
    <td class="title">%whos_online%</td>
  </tr>
  <tr bgcolor="$pagebg"><td></td></tr>
  <tr bgcolor="$bg1">
    <td>%now_online%: $user_on %and% $guests_on (%maximum_online%: $maxonline)
    <br />$user_names<br /><br />
    <small>
    [<span style="color: $loosecolor">%admin%</span>]
    [<span style="color: $drawcolor">%moderator%</span>]
    [<span style="color: $wincolor">%clanmember%</span>]
    </small>
    <br /><br />
    &#8226; <a href="index.php?site=whoisonline#was"><b>%who_was_online%</b></a></td>
  </tr>
  <tr bgcolor="$bghead">
    <td class="title">%stats%:</td>
  </tr>
  <tr bgcolor="$pagebg"><td></td></tr>
  <tr bgcolor="$bg1">
    <td><b>$posts</b> %posts_in% <b>$topics</b> %topics%<br />
    %registered_users%: <b>$registered</b><br />
    %newest_member%: $newestmember</td>
  </tr>
</table>