<table width="100%" border="0" cellspacing="0" cellpadding="2" bgcolor="$border">
  <tr bgcolor="$bghead">
    <td class="title" colspan="2" align="left">&nbsp; &#8226; <a href="index.php?site=gallery" class="titlelink">%gallery%</a> &gt;&gt; $group &gt;&gt; $title</td>
  </tr>
  <tr><td bgcolor="$pagebg" colspan="2"></td></tr>
  <tr>
    <td width="50%" bgcolor="$bgcat"><small>$pics %pictures% / $pages %page_s%</small> $diashow</td>
    <td bgcolor="$bgcat" align="right">$pagelink</td>
  </tr>
  <tr>
    <td bgcolor="$bgcat" colspan="2">
    <table border="0" width="100%">