<div class="$firstactive item">
	<a href="index.php?site=gallery&amp;picID=$pic[picID]">
		<img src="images/gallery/thumb/$pic[pic]" alt="$pic[name]" width="100%" alt="picture">
	</a>

	<div class="carousel-caption">
		<h4>$pic[name]</h4>
		$pic[comment]
	</div>
</div>

<!--
	<table class="table">
		<tr>
			<td><div style="overflow:hidden;"><a href="index.php?site=gallery&amp;picID=$pic[picID]"><strong>$pic[name]</strong></a></div></td>
		</tr>
		<tr>
			<td><em>%views%:</em> $pic[views]</td>
		</tr>
		<tr>
			<td><a href="index.php?site=gallery&amp;picID=$pic[picID]"><em>%comments%:</em> $pic[comments]</a></td>
		</tr>
	</table>
-->
