<br />
<table width="100%" border="0" cellspacing="0" cellpadding="2" bgcolor="$border">
  <tr bgcolor="$bghead">
    <td class="title" colspan="4"> &#8226; %category%: <a href="index.php?site=gallery&amp;groupID=$groupID" class="titlelink">$title</a></td>
  </tr>
  <tr><td bgcolor="$pagebg" colspan="4"></td></tr>
  <tr>
    <td bgcolor="$bgcat" colspan="4"><small>$gallerys %galleries% / $pics %pictures%</small></td>
  </tr>
  <tr>
    <td bgcolor="$bgcat" colspan="4"><a href="index.php?site=gallery&amp;groupID=$groupID"><b>%show_galleries%</b></a></td>
  </tr>
  <tr><td bgcolor="$bgcat" colspan="4"></td></tr>
  <tr>
    <td bgcolor="$bgcat" colspan="4"><b>%latest_gallery%</b></td>
  </tr>
  <tr bgcolor="$bgcat">
    <td width="100">&nbsp;</td>
    <td width="100"><b>%date%</b></td>
    <td><b>%name%</b></td>
    <td width="80"><b>%pictures%</b></td>
  </tr>