<td width="$percent%" valign="top">
<table width="100%" border="0" bgcolor="$bg">
  <tr>
    <td width="20%"><a href="index.php?site=gallery&amp;picID=$pic[picID]"><img src="$pic[pic]" border="0" width="$thumbwidth" alt="" /></a></td>
    <td valign="top">
    <table border="0" width="100%">
      <tr>
        <td><div style="overflow:hidden;"><a href="index.php?site=gallery&amp;picID=$pic[picID]"><b>$pic[name]</b></a></div></td>
      </tr>
      <tr>
        <td><i>%views%:</i> $pic[views]</td>
      </tr>
      <tr>
        <td><a href="index.php?site=gallery&amp;picID=$pic[picID]"><i>%comments%:</i> $pic[comments]</a></td>
      </tr>
    </table>
    </td>
  </tr>
</table>
</td>