<table width="100%" border="0" cellspacing="0" cellpadding="2" bgcolor="$border">
  <tr bgcolor="$bghead">
    <td class="title" colspan="4"> &#8226; %random_picture%</td>
  </tr>
  <tr><td bgcolor="$bgcat" colspan="4"></td></tr>
  <tr>
    <td bgcolor="$bgcat" colspan="4">
    <table border="0" width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td width="100%" valign="top" align="left" bgcolor="$bg1">
        <table border="0" width="100%" cellspacing="0" cellpadding="2">
          $random
        </table>
        </td>
      </tr>
    </table>
    </td>
  </tr>
  <tr><td bgcolor="$bgcat" colspan="4"></td></tr>
  <tr bgcolor="$bghead">
    <td class="title" colspan="4"> &#8226; %latest_gallery%</td>
  </tr>
  <tr><td bgcolor="$bgcat" colspan="4"></td></tr>
  <tr>
    <td bgcolor="$bgcat" colspan="4">
    <table border="0" width="100%" cellspacing="0" cellpadding="0" align="left" bgcolor="$bg2">
      <tr>
        <td width="100%" valign="top" align="left">
				<table border="0" width="100%" cellspacing="0" cellpadding="2">
          $latest
        </table>
        </td>
      </tr>
    </table>
    </td>
  </tr>
  <tr><td bgcolor="$bgcat" colspan="4"></td></tr>
  <tr bgcolor="$bghead">
    <td class="title" colspan="4"> &#8226; %most_comments%</td>
  </tr>
  <tr><td bgcolor="$bgcat" colspan="4"></td></tr>
  <tr>
    <td bgcolor="$bgcat" colspan="4">
    <table border="0" width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td width="100%" valign="top" align="left" bgcolor="$bg1">
        <table border="0" width="100%" cellspacing="0" cellpadding="2">
          $most_comments
        </table>
        </td>
      </tr>
    </table>
    </td>
  </tr>
</table>
<br />