<td bgcolor="$bgcat" valign="top">
<table width="100%" border="0" bgcolor="$bg">
  <tr>
    <td width="20%"><a href="index.php?site=gallery&amp;galleryID=$gallery[galleryID]"><img src="$gallery[pic]" border="0" width="$thumbwidth" alt="" /></a></td>
    <td valign="top">
    <table border="0" width="100%">
      <tr>
        <td><a href="index.php?site=gallery&amp;galleryID=$gallery[galleryID]"><b>$gallery[name]</b></a></td>
      </tr>
      <tr>
        <td><i>%pictures%:</i> $gallery[pics]</td>
      </tr>
      <tr>
        <td><i>%date%:</i> $gallery[date]</td>
      </tr>
    </table>
    </td>
  </tr>
</table>
</td>