<div class="$firstActive item">
	<a href="index.php?site=gallery&amp;picID=$pic[picID]">
		<img src="images/gallery/thumb/$pic[pic]" alt="$pic[name]" width="100%">
	</a>

	<div class="carousel-caption">
		<h4>$pic[name]</h4>
		$pic[comment]
	</div>
</div>

<!--
	<table border="0" width="100%">
		<tr>
			<td><div style="overflow:hidden;"><a href="index.php?site=gallery&amp;picID=$pic[picID]"><b>$pic[name]</b></a></div></td>
		</tr>
		<tr>
			<td><i>%views%:</i> $pic[views]</td>
		</tr>
		<tr>
			<td><a href="index.php?site=gallery&amp;picID=$pic[picID]"><i>%comments%:</i> $pic[comments]</a></td>
		</tr>
	</table>
-->
