<form action="gallery.php" method="post" name="ws_gallery">
    <table class="table table-striped">
        <tr>
            <th class="text-center">%edit_picture%</th>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td>
                <table class="table table-striped">
                    <tr>
                        <td class="text-right">%name%:</td>
                        <td><input name="name" type="text" value="$name" size="35"></td>
                    </tr>
                    <tr>
                        <td class="text-right">%comment%:</td>
                        <td><textarea name="comment" cols="70" rows="2">$comment</textarea></td>
                    </tr>
                    <tr>
                        <td class="text-right">%comments%:</td>
                        <td><select name="comments">$comments</select></td>
                    </tr>
                    <tr>
                        <td class="text-right"></td>
                        <td><input type="checkbox" name="reset" value="1"> %reset_views%</td>
                    </tr>
                    <tr>
                        <td class="text-right"><input type="hidden" name="picID" value="$picID"></td>
                        <td><input name="saveedit" type="submit" value="%update_picture%"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</form>
