      <tr bgcolor="$bg1">
        <td>
        <table width="100%" cellspacing="0" cellpadding="0">
          <tr>
            <td>$country <a href="index.php?site=profile&amp;id=$ds[buddy]"><b>$nickname</b></a> $member</td>
            <td align="right"><a href="buddys.php?action=readd&amp;id=$ds[buddy]&amp;userID=$userID"><img src="images/icons/buddy_readd.gif" width="16" height="16" border="0" alt="back to buddy-list" /></a>
            <a href="buddys.php?action=delete&amp;id=$ds[buddy]&amp;userID=$userID"><img src="images/icons/buddy_delete.gif" width="15" height="16" border="0" alt="delete user" /></a></td>
            <td width="11" align="right">$statuspic</td>
          </tr>
        </table>
        </td>
      </tr>