<li class="list-group-item">
    $country <a href="index.php?site=profile&amp;id=$ds[buddy]"><b>$nickname</b></a> $member

    <span class="badge pull-right">
        <a href="buddys.php?action=readd&amp;id=$ds[buddy]&amp;userID=$userID" title="back to buddy-list"><img src="images/icons/buddy_readd.gif" alt="back to buddy-list" /></a>
        <a href="buddys.php?action=delete&amp;id=$ds[buddy]&amp;userID=$userID" title="delete user"><img src="images/icons/buddy_delete.gif" alt="delete user" /></a>
    </span>
</li>