<li class="list-group-item">
    $country <a href="index.php?site=profile&amp;id=$buddyID"><strong>$nickname</strong></a> $member

    <span class="badge pull-right">
        <a href="buddies.php?action=readd&amp;id=$buddyID&amp;userID=$userID" title="back to buddy-list">
            <img src="images/icons/buddy_readd.gif" alt="back to buddy-list">
        </a>
        <a href="buddies.php?action=delete&amp;id=$buddyID&amp;userID=$userID" title="delete user">
            <img src="images/icons/buddy_delete.gif" alt="delete user">
        </a>
    </span>
</li>
