<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">$headline1</h3>
	</div>
	<div class="panel-body">
		$imprint_head
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">$headline2</h3>
	</div>
	<div class="panel-body">
		<p>%coding_info%</p>

		<p>
            Copyright 2005-2014 by webspell.org - <a href="http://www.webspell.org" target="_blank">
			<strong>webSPELL.org</strong></a>
        </p>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">%disclaimer%</h3>
	</div>
	<div class="panel-body">
		%disclaimer_text%
	</div>
</div>
