<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="$border">
  <tr bgcolor="$bghead">
    <td>
    <table border="0" width="100%" cellpadding="2" cellspacing="0">
      <tr>
        <td class="title">&nbsp; &#8226; $headline1</td>
      </tr>
      <tr><td bgcolor="$pagebg"></td></tr>
    </table>
    </td>
  </tr>
  <tr bgcolor="$pagebg"><td></td></tr>
  <tr bgcolor="$bg1">
    <td>
    <table border="0" width="100%" cellpadding="2" cellspacing="0">
      <tr>
        <td>$imprint_head<br />&nbsp;</td>
      </tr>
    </table>
    </td>
  </tr>
  <tr bgcolor="$pagebg"><td></td></tr>
  <tr bgcolor="$bghead">
    <td>
    <table border="0" width="100%" cellpadding="2" cellspacing="0">
      <tr>
        <td class="title">&nbsp; &#8226; $headline2</td>
      </tr>
      <tr><td bgcolor="$pagebg"></td></tr>
    </table>
    </td>
  </tr>
  <tr bgcolor="$pagebg"><td></td></tr>
  <tr bgcolor="$bg1">
    <td>
    <table border="0" width="100%" cellpadding="2" cellspacing="0">
      <tr>
        <td align="justify"><br />%coding_info%<br /><br />Copyright &copy; <a href="http://www.webspell.org" target="_blank"><b>www.webSPELL.org</b></a><br /><br />&nbsp;</td>
      </tr>
    </table>
    </td>
  </tr>
  <tr bgcolor="$pagebg"><td></td></tr>
  <tr bgcolor="$bghead">
    <td>
    <table border="0" width="100%" cellpadding="2" cellspacing="0">
      <tr>
        <td class="title">&nbsp; &#8226; %disclaimer%</td>
      </tr>
      <tr><td bgcolor="$pagebg"></td></tr>
    </table>
    </td>
  </tr>
  <tr bgcolor="$pagebg"><td></td></tr>
  <tr bgcolor="$bg1">
    <td>
    <table border="0" width="100%" cellpadding="2" cellspacing="0">
      <tr>
        <td align="justify"><br />%disclaimer_text%</td>
      </tr>
    </table>
    </td>
  </tr>
</table>