<div class="panel panel-default">
    <div class="panel-heading">$headline1</div>
    <div class="panel-body">
        $imprint_head
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">$headline2</div>
    <div class="panel-body">
        <p>%coding_info%</p>
        <p>Copyright &copy; <a href="http://www.webspell.org" target="_blank"><b>www.webSPELL.org</b></a></p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">%disclaimer%</div>
    <div class="panel-body">
        %disclaimer_text%
    </div>
</div>