<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">%joinus_form%</h3>
    </div>
    <div class="panel-body">
        <form action="index.php?site=joinus&amp;action=save" method="post" name="post" role="form"
            class="form-horizontal">

            <!-- Error Box -->
            $showerror

            <!-- Squad -->
            <div class="form-group">
                <label for="select-squad" class="col-xs-12 col-md-3 control-label">%squad%:</label>

                <div class="col-xs-12 col-md-9">
                    <select name="squad" id="select-squad" class="form-control">
                        $squads
                    </select>
                </div>
            </div>

            <!-- Nick -->
            <div class="form-group">
                <label for="input-nick" class="col-xs-12 col-md-3 control-label">%nick%:</label>

                <div class="col-xs-12 col-md-9">
                    <input type="text" name="nick" class="form-control" id="input-nick" placeholder="%nick%"
                        value="$nickname">
                </div>
            </div>

            <!-- Name -->
            <div class="form-group">
                <label for="input-name" class="col-xs-12 col-md-3 control-label">%name%:</label>

                <div class="col-xs-12 col-md-9">
                    <input type="text" name="name" class="form-control" id="input-name" placeholder="%name%"
                        value="$name">
                </div>
            </div>

            <!-- Mail -->
            <div class="form-group">
                <label for="input-mail" class="col-xs-12 col-md-3 control-label">%mail%:</label>

                <div class="col-xs-12 col-md-9">
                    <input type="email" name="email" class="form-control" id="input-mail" placeholder="%mail%"
                        value="$email">
                </div>
            </div>

            <!-- Messenger -->
            <div class="form-group">
                <label for="input-messenger" class="col-xs-12 col-md-3 control-label">%icq_msn%:</label>

                <div class="col-xs-12 col-md-9">
                    <input type="text" name="messenger" class="form-control" id="input-messenger"
                        placeholder="%icq_msn%" value="$messenger">
                </div>
            </div>

            <!-- Age -->
            <div class="form-group">
                <label for="input-age" class="col-xs-12 col-md-3 control-label">%age%:</label>

                <div class="col-xs-12 col-md-9">
                    <input type="number" name="age" class="form-control" id="input-age" placeholder="%age%"
                        value="$age">
                </div>
            </div>

            <!-- City -->
            <div class="form-group">
                <label for="input-city" class="col-xs-12 col-md-3 control-label">%city%:</label>

                <div class="col-xs-12 col-md-9">
                    <input type="text" name="city" class="form-control" id="input-city" placeholder="%city%"
                        value="$city">
                </div>
            </div>

            <!-- Clan history -->
            <div class="form-group">
                <label for="input-clan-history" class="col-xs-12 col-md-3 control-label">%clan_history%:</label>

                <div class="col-xs-12 col-md-9">
                    <input type="text" name="clanhistory" class="form-control"
                        id="input-clan-history" placeholder="%clan_history%" value="$clanhistory">
                </div>
            </div>

            <!-- Info -->
            <div class="form-group">
                <div class="col-xs-12 col-md-12">
                    <label for="textarea-info">%additional_info%:</label>
                    <textarea name="info" id="textarea-info" class="form-control" rows="5">$info</textarea>
                </div>
            </div>

            <!-- Submit button -->
            <div class="form-group">
                <div class="col-xs-12 text-right">
                    <button type="submit" name="post" class="btn btn-primary">%send%</button>
                </div>
            </div>

        </form>
    </div>
</div>
