<table width="100%" border="0" cellspacing="0" cellpadding="2" bgcolor="$border">
  <tr bgcolor="$bghead">
    <td class="title">&nbsp; &#8226; %title_categories% ( $anzcats %categories% )</td>
  </tr>
  <tr><td bgcolor="$pagebg"></td></tr>
  <tr bgcolor="$bg1">
    <td>
    <table width="100%" border="0" cellspacing="0" cellpadding="2">
      <tr>
        <td bgcolor="$bg1" width="80%"><b>%category%</b></td>
        <td bgcolor="$bg1" width="20%" align="center"><b>%links%</b></td>
      </tr>
    </table>
    </td>
  </tr>
  <tr><td bgcolor="$pagebg"></td></tr>