<form action="index.php?site=linkus" method="post" enctype="multipart/form-data">
    <h3>%edit_linkus%</h3>
  
    <div class="form-group">
        <label for="name">%name%</label>
        <input name="name" type="text" value="$name" class="form-control" autofocus>
        
        <label for="banner">%banner%</label>
        <input name="banner" type="file"  class="form-control">
    </div>
        
    <div class="form-group">
        <input type="hidden" name="bannerID" value="$bannerID" />
        <input name="saveedit" type="submit" value="%save_banner%" class="btn btn-danger">
    </div>
</form>