<form action="index.php?site=linkus" method="post" enctype="multipart/form-data">
<table width="100%" border="0" cellspacing="0" cellpadding="2" bgcolor="$border">
  <tr>
    <td class="title" align="center" bgcolor="$bghead">%edit_linkus%</td>
  </tr>
  <tr><td bgcolor="$pagebg"></td></tr>
  <tr>
    <td bgcolor="$bg1">
    <table width="100%" border="0" align="center" cellpadding="2" cellspacing="0">
      <tr>
        <td width="30%" align="right">%name%:</td>
        <td width="70%"><input name="name" type="text" value="$name" size="35" /></td>
      </tr>
      <tr>
        <td align="right">%banner%:</td>
        <td><input name="banner" type="file" size="38" /></td>
      </tr>
      <tr>
        <td align="right"><input type="hidden" name="bannerID" value="$bannerID" /></td>
        <td><input name="saveedit" type="submit" value="%save_banner%" /></td>
      </tr>
    </table>
    </td>
  </tr>
</table>
</form>