<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">%new_link%</h3>
    </div>
    <div class="panel-body">
        <form
            action="index.php?site=links"
            method="post"
            enctype="multipart/form-data"
            onsubmit="return formcheckOnsend('linkname');"
            role="form"
            class="form-horizontal">

            <!-- Cat -->
            <div class="form-group">
                <label for="input-cat" class="col-xs-12 col-md-3 control-label">%linkrubric%:</label>
                <div class="col-xs-12 col-md-9">
                    <select name="cat" id="input-cat" class="form-control">$linkcats</select>
                </div>
            </div>

            <!-- Name -->
            <div class="form-group">
                <label for="input-name" class="col-xs-12 col-md-3 control-label">%linkname%:</label>
                <div class="col-xs-12 col-md-9">
                    <input type="text" name="name" class="form-control" id="input-name">
                </div>
            </div>

            <!-- Url -->
            <div class="form-group">
                <label for="input-url" class="col-xs-12 col-md-3 control-label">%homepage%:</label>
                <div class="col-xs-12 col-md-9">
                    <input type="url" name="url" class="form-control" id="input-url" value="http://">
                </div>
            </div>

            <!-- Banner -->
            <div class="form-group">
                <label for="input-banner" class="col-xs-12 col-md-3 control-label">%banner%:</label>
                 <div class="col-xs-12 col-md-9">
                    <input type="file" name="banner" id="input-banner">
                </div>
            </div>

            <!-- Info -->
            <div class="form-group">
                <label for="input-info" class="col-xs-12 col-md-3 control-label">%information%:</label>
                <div class="col-xs-12 col-md-9">
                    <input type="text" name="info" class="form-control" id="input-info">
                </div>
            </div>

            <!-- Submit button -->
            <div class="form-group">
                <div class="col-xs-12 col-md-9 col-xs-offset-12 col-md-offset-3">
                    <a href="index.php?site=links" class="btn btn-default btn-sm" role="button">%back%</a>
                    <button type="submit" name="save" class="btn btn-primary btn-sm">%save_link%</button>
                </div>
            </div>

        </form>
    </div>
</div>