%welcome_back%: $username<br />

<span style="padding-bottom:4px; padding-top:4px;">$l_avatar</span><br />

&#8226; <a href="index.php?site=loginoverview">%overview%</a><br />
&#8226; <a href="index.php?site=myprofile">%edit_account%</a><br />
&#8226; <a href="index.php?site=messenger">%messenger%</a>$newmessages<br />
&#8226; <a href="index.php?site=usergallery">%galleries%</a><br />
&#8226; <a href="index.php?site=buddys">%buddy_list%</a><br />
$cashbox
$admin
&#8226; <a href="logout.php">%logout%</a>