<h3>%userinformations%</h3>
<table class="table table-striped table-hover table-bordered">
    <tr>
        <td>%user%:</td>
        <td>$username</td>
    </tr>
    <tr>
        <td>%last_login%:</td>
        <td>$lastlogin</td>
    </tr>
    <tr>
        <td>%registered%:</td>
        <td>$registerdate</td>
    </tr>
</table>

<table class="table table-striped table-hover table-bordered">
    <tr>
        <td>%messenger%:</td>
        <td><a href="index.php?site=messenger">$newmessages</a></td>
    </tr>
    <tr>
        <td>%new_topics%:</td>
        <td>$new_topics</td>
    </tr>
    <tr>
        <td>%new_posts%:</td>
        <td>$new_posts</td>
    </tr>
</table>$referer_uri

<h3>%upcoming%</h3>$clanwars

<h4>%upcoming_events%</h4>
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>%name%:</th>
        <th>%from%:</th>
        <th>%until%:</th>
        <th>%location%:</th>
        <th>%info%:</th>
    </tr>
    </thead>
    <tbody>
    $events
    </tbody>
</table>

<h4>%usermenu%</h4>
<ul class="list-inline">
    <li>$cashboxpic</li>
    <li>
        <a class="thumbnail" href="index.php?site=buddies">
            <img src="images/icons/buddies.gif" alt="buddies">
        </a>
    </li>
    <li>
        <a class="thumbnail" href="index.php?site=messenger">
            <img src="images/icons/messenger.gif" alt="messenger">
        </a>
    </li>
    <li>$admincenterpic</li>
    <li>
        <a class="thumbnail" href="index.php?site=myprofile">
            <img src="images/icons/edit_profil.gif" alt="edit profile">
        </a>
    </li>
    <li>
        <a class="thumbnail" href="logout.php">
            <img src="images/icons/logout.gif" alt="logout">
        </a>
    </li>
</ul>

<h4 class="hidden">%new_in_forum%</h4>
<div class="row hidden">
    <div class="col-md-6">
        <img src="images/icons/latest_topics.gif" alt="Latest Topics">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Date:</th>
                <th>Title:</th>
                <th>Views:</th>
                l
                <th>Replies:</th>
            </tr>
            </thead>
            <tbody>
            $topiclist
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <img src="images/icons/latest_posts.gif" alt="Latest Posts">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Topic:</th>
                <th>Date:</th>
                <th>Content:</th>
            </tr>
            </thead>
            <tbody>
            $postlist
            </tbody>
        </table>
    </div>
</div>
