  <tr>
    <td bgcolor="$bg1" colspan="4">
    <table border="0" width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td width="40%" valign="top">$country <span class="category">$firstname '$nickname' $lastname</span> $statuspic<br /><br /><br />
        <table border="0" width="100%" cellspacing="6" cellpadding="0">
          <tr>
            <td width="70"><b>%position%:</b></td>
            <td>$position</td>
          </tr>
          <tr>
            <td width="70"><b>%status%:</b></td>
            <td>$activity</td>
          </tr>
          <tr>
            <td width="70"><b>%contact%:</b></td>
            <td>$email $pm $buddy</td>
          </tr>
          <tr>
            <td width="70"><b>%town%:</b></td>
            <td>$town</td>
          </tr>
        </table>
        </td>
        <td width="10">&nbsp;</td>
        <td width="100" valign="top"><a href="index.php?site=profile&amp;id=$dm[userID]"><img src="images/userpics/$userpic" width="100" border="0" alt="Userpic" /></a></td>
        <td width="10">&nbsp;</td>
        <td valign="top"><b>%about% $nicknamee:</b><br />$userdescription</td>
      </tr>
    </table>
    </td>
  </tr>