  <tr>
    <td bgcolor="$bg1" colspan="4">
    <table border="0" width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td width="30%" bgcolor="$bg1">$country <a href="index.php?site=profile&amp;id=$profilid"><b>$nickname</b></a> $statuspic</td>
        <td width="30%" bgcolor="$bg1">$position</td>
        <td width="20%" bgcolor="$bg1" align="center">$email $pm $buddy</td>
        <td width="20%" bgcolor="$bg1" align="center">$activity</td>
      </tr>
    </table>
    </td>
  </tr>