<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">%edit_password%</h3>
    </div>
    <div class="panel-body">
        <form
                action="index.php?site=myprofile"
                method="post"
                role="form"
                class="form-horizontal">

            <!-- Old password -->
            <div class="form-group">
                <label for="input-oldpwd" class="col-xs-12 col-md-4 control-label">%old_password%:</label>

                <div class="col-xs-12 col-md-8">
                    <input type="password" name="oldpwd" class="form-control" id="input-oldpwd">
                </div>
            </div>

            <!-- New password -->
            <div class="form-group">
                <label for="input-pwd1" class="col-xs-12 col-md-4 control-label">%new_password%:</label>

                <div class="col-xs-12 col-md-8">
                    <input type="password" name="pwd1" class="form-control" id="input-pwd1">
                </div>
            </div>

            <!-- Repeat new password -->
            <div class="form-group">
                <label for="input-pwd2" class="col-xs-12 col-md-4 control-label">%repeat_new_password%:</label>

                <div class="col-xs-12 col-md-8">
                    <input type="password" name="pwd2" class="form-control" id="input-pwd2">
                </div>
            </div>

            <!-- Submit button -->
            <div class="form-group">
                <div class="col-xs-12 col-md-8 col-xs-offset-12 col-md-offset-4">
                    <input type="hidden" name="id" value="$userID">
                    <a href="index.php?site=myprofile" class="btn btn-default btn-sm" role="button">%back%</a>
                    <button type="submit" name="savepwd" class="btn btn-primary btn-sm">%change_password%</button>
                </div>
            </div>

        </form>
    </div>
</div>

