<form method="post" action="index.php?site=myprofile">
<table width="100%" border="0" cellspacing="0" cellpadding="2" bgcolor="$border">
  <tr>
		<td bgcolor="$bg1" align="right" width="50%">%password%:</td>
		<td bgcolor="$bg2" width="50%"><input type="password" name="oldpwd" /></td>
  </tr>
  <tr>
		<td bgcolor="$bg3" align="right">%new_email%:</td>
		<td bgcolor="$bg4"><input type="text" name="mail1" /></td>
  </tr>
  <tr>
		<td bgcolor="$bg1" align="right">%repeat_new_email%:</td>
		<td bgcolor="$bg2"><input type="text" name="mail2" /></td>
  </tr>
  <tr>
  	<td bgcolor="$bg3"><input type="hidden" name="userid" value="$userID" /></td>
		<td bgcolor="$bg4"><input type="submit" name="savemail" value="%change_mail%" /></td>
  </tr>
</table>
</form>
<br /><br /><input type="button" onclick="javascript:history.back()" value="%back%" />