<script>
    <!--
    function chkFormular() {
        if (document.getElementById('nickname').value == "") {
            alert("%you_have_to_nickname%");
            document.getElementById('nickname').focus();
            return false;
        }

        if (document.getElementById('usernamenew').value == "") {
            alert("%you_have_to_username%");
            document.getElementById('usernamenew').focus();
            return false;
        }

        if (document.getElementById('firstname').value == "") {
            alert("%you_have_to_firstname%");
            document.getElementById('firstname').focus();
            return false;
        }

        if (document.getElementById('b_day').value == "") {
            alert("%you_have_to_bday%");
            document.getElementById('b_day').focus();
            return false;
        }

    }
    -->
</script>

<form
    method="post"
    name="post"
    action="index.php?site=myprofile"
    enctype="multipart/form-data"
    onsubmit="return chkFormular()"
    class="form-horizontal"
    role="form">

    <h2>%profile-info%:</h2>
    $showerror

    <div class="form-group">
        <label for="nickname" class="col-lg-3 control-label">%nickname%:*</label>

        <div class="col-lg-9">
            <input
                type="text"
                name="nickname"
                id="nickname"
                value="$nickname"
                maxlength="30"
                autocomplete="nickname"
                class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label for="usernamenew" class="col-lg-3 control-label">%username%:*</label>

        <div class="col-lg-9">
            <input
                type="text"
                name="usernamenew"
                id="usernamenew"
                value="$username"
                autocomplete="nickname"
                class="form-control">
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-6 text-left">
            <a href="index.php?site=myprofile&amp;action=editpwd" class="btn btn-danger">%edit_password%</a>
        </div>
        <div class="col-xs-6 text-right">
            <a href="index.php?site=myprofile&amp;action=editmail" title="$email" class="btn btn-danger">%edit_mail%</a>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-6">$viewavatar<br>
            <input name="delavatar" type="checkbox" value="1">
            <small>%delete_max_90_90%</small>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <input name="avatar" type="file">%or%<br>
                <input name="avatar_url" type="text" placeholder="http://" class="form-control">
            </div>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-6">$viewpic<br>
            <input name="deluserpic" type="checkbox" value="1">
            <small>%delete_max_230_210%</small>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <input name="userpic" type="file">%or%<br>
                <input name="userpic_url" type="text" placeholder="http://" class="form-control">
            </div>
        </div>
    </div>
    <hr>

    <div class="form-group">
        <label for="usertext" class="col-lg-3 control-label">%signature%:*</label>

        <div class="col-lg-9">
            <textarea id="usertext" name="usertext" cols="70" rows="5" class="form-control">$usertext</textarea>
        </div>
    </div>

    <h2>%personal-info%:</h2>

    <div class="form-group">
        <label for="firstname" class="col-lg-3 control-label">%first_name%:*</label>

        <div class="col-lg-9">
            <input
                type="text"
                name="firstname"
                id="firstname"
                value="$firstname"
                autocomplete="given-name"
                class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label for="lastname" class="col-lg-3 control-label">%last_name%:*</label>

        <div class="col-lg-9">
            <input id="lastname" type="text" name="lastname" value="$lastname" autocomplete="family-name"
                class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label for="input-flag" class="col-xs-12 col-lg-3">%country%:</label>

        <div class="col-xs-1">
            <label>$country</label>
        </div>
        <div class="col-xs-11 col-lg-7">
            <select id="input-flag" name="flag" onchange="document.getElementById('county').src='images/flags/' +
                this.options[this.selectedIndex].value+'.gif'" class="form-control">
                $countries
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="town" class="col-lg-3 control-label">%town%:</label>

        <div class="col-lg-9">
            <input id="town" type="text" name="town" autocomplete="locality" value="$town" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label for="bday" class="col-lg-3 control-label">%date_of_birth%:*</label>

        <div class="col-lg-9">
            <input id="bday"
                class="form-control"
                placeholder="yyyy-mm-dd"
                value="$birthday"
                name="birthday"
                type="date">
        </div>
    </div>

    <div class="form-group">
        <label for="sex" class="col-lg-3 control-label">%sexuality%:</label>

        <div class="col-lg-9">
            <select id="sex" name="sex" class="form-control">$sex</select>
        </div>
    </div>

    <div class="form-group">
        <label for="icq" class="col-lg-3 control-label">Icq#</label>

        <div class="col-lg-9">
            <input id="icq" type="text" name="icq" value="$icq" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label for="homepage" class="col-lg-3 control-label">%homepage%:</label>

        <div class="col-lg-9">
            <input id="homepage" type="url" name="homepage" value="http://$homepage" autocomplete="url"
                class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label for="messageabout" class="col-lg-3 control-label">%about_myself%:</label>

        <div class="col-lg-9">
            <textarea id="messageabout" name="messageabout" cols="70" rows="8" class="form-control">$about</textarea>
        </div>
    </div>

    <h2>%options%:</h2>

    <div class="form-group">
        <label for="newsletter" class="col-lg-3 control-label">%newsletter%:</label>

        <div class="col-lg-9">
            <select id="newsletter" name="newsletter" class="form-control">$newsletter</select>
        </div>
    </div>

    <div class="form-group">
        <label for="language" class="col-lg-3 control-label">%language%:</label>

        <div class="col-lg-9">
            <select id="language" name="language" class="form-control">$langdirs</select>
        </div>
    </div>

    <div class="form-group">
        <label for="pm-mail" class="col-lg-3 control-label">%mail_on_new_pm%:</label>

        <div class="col-lg-9">
            <select id="pm-mail" name="pm_mail" class="form-control">$pm_mail</select>
        </div>
    </div>

    <div class="form-group">
        <label for="mail-hide" class="col-lg-3 control-label">%hide_e-mail%</label>

        <div class="col-lg-9">
            <input id="mail-hide" type="checkbox" name="mail_hide" value="1" $email_hide>
        </div>
    </div>

    <div class="form-group">
        <label for="pm-format" class="col-lg-3 control-label">%format_date%:</label>

        <div class="col-lg-9">
            <select id="pm-format" name="date_format" class="form-control">$format_date</select>
        </div>
    </div>

    <div class="form-group">
        <label for="format-time" class="col-lg-3 control-label">%format_time%:</label>

        <div class="col-lg-9">
            <select id="format-time" name="time_format" class="form-control">$format_time</select>
        </div>
    </div>

    $user_gbook_select

    <h2>%clan-info%:</h2>

    <div class="form-group">
        <label for="clantag" class="col-lg-3 control-label">%clan-tag%:</label>

        <div class="col-lg-9">
            <input id="clantag" type="text" name="clantag" value="$clantag" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label for="clanname" class="col-lg-3 control-label">%clan-name%:</label>

        <div class="col-lg-9">
            <input id="clanname" type="text" name="clanname" value="$clanname" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label for="clanhp" class="col-lg-3 control-label">%clan-hp%:</label>

        <div class="col-lg-9">
            <input id="clanhp" type="url" name="clanhp" value="$clanhp" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label for="clanirc" class="col-lg-3 control-label">%clan-irc%:</label>

        <div class="col-lg-9">
            <input id="clanirc" type="text" name="clanirc" value="$clanirc" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label for="clanhistory" class="col-lg-3 control-label">%clan-history%:</label>

        <div class="col-lg-9">
            <input id="clanhistory" type="text" name="clanhistory" value="$clanhistory" class="form-control">
        </div>
    </div>

    <h2>%equipment-info%:</h2>

    <div class="form-group">
        <label for="cpu" class="col-lg-3 control-label">%cpu%:</label>

        <div class="col-lg-9">
            <input id="cpu" type="text" name="cpu" value="$cpu" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label for="mainboard" class="col-lg-3 control-label">%mainboard%:</label>

        <div class="col-lg-9">
            <input id="mainboard" type="text" name="mainboard" value="$mainboard" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label for="ram" class="col-lg-3 control-label">%ram%:</label>

        <div class="col-lg-9">
            <input id="ram" type="text" name="ram" value="$ram" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label for="hdd" class="col-lg-3 control-label">%hdd%:</label>

        <div class="col-lg-9">
            <input id="hdd" type="text" name="hdd" value="$hdd" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label for="monitor" class="col-lg-3 control-label">%monitor%:</label>

        <div class="col-lg-9">
            <input id="monitor" type="text" name="monitor" value="$monitor" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label for="graphiccard" class="col-lg-3 control-label">%graphiccard%:</label>

        <div class="col-lg-9">
            <input id="graphiccard" type="text" name="graphiccard" value="$graphiccard" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label for="soundcard" class="col-lg-3 control-label">%soundcard%:</label>

        <div class="col-lg-9">
            <input id="soundcard" type="text" name="soundcard" value="$soundcard" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label for="connection" class="col-lg-3 control-label">%i-connection%:</label>

        <div class="col-lg-9">
            <input id="connection" type="text" name="connection" value="$connection" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label for="keyboard" class="col-lg-3 control-label">%keyboard%:</label>

        <div class="col-lg-9">
            <input id="keyboard" type="text" name="keyboard" value="$keyboard" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label for="mouse" class="col-lg-3 control-label">%mouse%:</label>

        <div class="col-lg-9">
            <input id="mouse" type="text" name="mouse" value="$mouse" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label for="mousepad" class="col-lg-3 control-label">%mousepad%:</label>

        <div class="col-lg-9">
            <input id="mousepad" type="text" name="mousepad" value="$mousepad" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label for="headset" class="col-lg-3 control-label">%headset%:</label>

        <div class="col-lg-9">
            <input id="headset" type="text" name="headset" value="$headset" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-6">%fields_star_required%</div>
        <div class="col-md-6 text-right">
            <input type="submit" name="submit" value="%update_profile%" class="btn btn-danger">
        </div>
    </div>
</form>
