<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">%edit_mail%</h3>
    </div>
    <div class="panel-body">
        <form
                action="index.php?site=myprofile"
                method="post"
                role="form"
                class="form-horizontal">

            <!-- Password -->
            <div class="form-group">
                <label for="input-oldpwd" class="col-xs-12 col-md-4 control-label">%password%:</label>

                <div class="col-xs-12 col-md-8">
                    <input type="password" name="oldpwd" class="form-control" id="input-oldpwd">
                </div>
            </div>

            <!-- New email -->
            <div class="form-group">
                <label for="input-mail1" class="col-xs-12 col-md-4 control-label">%new_email%:</label>

                <div class="col-xs-12 col-md-8">
                    <input type="email" name="mail1" class="form-control" id="input-mail1">
                </div>
            </div>

            <!-- Repeat new email -->
            <div class="form-group">
                <label for="input-mail2" class="col-xs-12 col-md-4 control-label">%repeat_new_email%:</label>

                <div class="col-xs-12 col-md-8">
                    <input type="email" name="mail2" class="form-control" id="input-mail2">
                </div>
            </div>

            <!-- Submit button -->
            <div class="form-group">
                <div class="col-xs-12 col-md-8 col-xs-offset-12 col-md-offset-4">
                    <input type="hidden" name="userid" value="$userID">
                    <a href="index.php?site=myprofile" class="btn btn-default btn-sm" role="button">%back%</a>
                    <button type="submit" name="savemail" class="btn btn-primary btn-sm">%change_mail%</button>
                </div>
            </div>

        </form>
    </div>
</div>
