<form method="post" action="index.php?site=myprofile">
    <h2>%edit_password%</h2>
    
    <div class="form-group">
        <label for="oldpwd" class="col-lg-2 control-label">%old_password%:</label>
        <div class="col-lg-10">
            <input type="password" name="oldpwd" class="form-control">
        </div>
    </div>
    
    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <label for="pwd1" class="col-lg-2 control-label">%new_password%:</label>
                <div class="col-lg-10">
                    <input type="password" name="pwd1" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <label for="pwd2" class="col-lg-2 control-label">%repeat_new_password%:</label>
                <div class="col-lg-10">
                    <input type="password" name="pwd2" class="form-control">
                </div>
            </div>
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-xs-6">
            <a href="index.php?site=myprofile" class="btn btn-primary"><i class="icon icon-reply"></i> %back%</a>
        </div>
        <div class="col-xs-6 text-right">
            <input type="hidden" name="id" value="$userID">
            <input type="submit" name="savepwd" value="%change_password%" class="btn btn-danger">
        </div>
    </div>
</form>