<table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left" valign="top" class="nav">%main%</td>
    <td width="15" valign="top">&nbsp;</td>
    <td align="left" valign="top" class="nav">%clan%</td>
    <td width="15" valign="top">&nbsp;</td>
    <td align="left" valign="top" class="nav">%community%</td>
    <td width="15" valign="top">&nbsp;</td>
    <td align="left" valign="top" class="nav">%media%</td>
    <td width="15" valign="top">&nbsp;</td>
    <td align="left" valign="top" class="nav">%miscellaneous%</td>
  </tr>
  <tr>
    <td align="left" valign="top">
      <a href="index.php?site=news">%news%</a><br />
      <a href="index.php?site=news&amp;action=archive">%archives%</a><br />
      <a href="index.php?site=articles">%articles%</a><br />
      <a href="index.php?site=calendar">%calendar%</a><br />
      <a href="index.php?site=faq">%faq%</a><br />
      <a href="index.php?site=search">%search%</a>
    </td>
	 <td></td>
    <td align="left" valign="top">
      <a href="index.php?site=about">%about_us%</a><br />
      <a href="index.php?site=squads">%squads%</a><br />
      <a href="index.php?site=members">%members%</a><br />
      <a href="index.php?site=clanwars">%matches%</a><br />
      <a href="index.php?site=history">%history%</a><br />
      <a href="index.php?site=awards">%awards%</a>
    </td>
	 <td></td>
    <td align="left" valign="top">
      <a href="index.php?site=forum">%forums%</a><br />
      <a href="index.php?site=guestbook">%guestbook%</a><br />
      <a href="index.php?site=registered_users">%registered_users%</a><br />
      <a href="index.php?site=whoisonline">%who_is_online%</a><br />
      <a href="index.php?site=polls">%polls%</a><br />
      <a href="index.php?site=server">%servers%</a>
    </td>
	 <td></td>
    <td align="left" valign="top">
      <a href="index.php?site=files">%downloads%</a><br />
      <a href="index.php?site=demos">%demos%</a><br />
      <a href="index.php?site=links">%links%</a><br />
      <a href="index.php?site=gallery">%gallery%</a><br />
      <a href="index.php?site=linkus">%links_us%</a>
    </td>
	 <td></td>
    <td align="left" valign="top">
      <a href="index.php?site=sponsors">%sponsors%</a><br />
      <a href="index.php?site=newsletter">%newsletter%</a><br />
      <a href="index.php?site=contact">%contact%</a><br />
      <a href="index.php?site=challenge">%fight_us%</a><br />
      <a href="index.php?site=joinus">%join_us%</a><br />
      <a href="index.php?site=imprint">%imprint%</a>
    </td>
  </tr>
</table>
<br />