<ul class="nav navbar-nav">
	<li class="dropdown">

		<a href="#" class="dropdown-toggle" data-toggle="dropdown">%main% <b class="caret"></b></a>
		<ul class="dropdown-menu">
			<li><a href="index.php?site=news">%news%</a></li>
			<li><a href="index.php?site=news&amp;action=archive">%archives%</a></li>
			<li><a href="index.php?site=articles">%articles%</a></li>
			<li><a href="index.php?site=calendar">%calendar%</a></li>
			<li><a href="index.php?site=faq">%faq%</a></li>
			<li><a href="index.php?site=search">%search%</a></li>
		</ul>

	</li>

	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">%clan% <b class="caret"></b></a>
		<ul class="dropdown-menu">
			<li><a href="index.php?site=about">%about_us%</a></li>
			<li><a href="index.php?site=squads">%squads%</a></li>
			<li><a href="index.php?site=members">%members%</a></li>
			<li><a href="index.php?site=clanwars">%matches%</a></li>
			<li><a href="index.php?site=history">%history%</a></li>
			<li><a href="index.php?site=awards">%awards%</a></li>
		</ul>
	</li>

	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			%community% <b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
			<li><a href="index.php?site=forum">%forums%</a></li>
			<li><a href="index.php?site=guestbook">%guestbook%</a></li>
			<li><a href="index.php?site=registered_users">%registered_users%</a></li>
			<li><a href="index.php?site=whoisonline">%who_is_online%</a></li>
			<li><a href="index.php?site=polls">%polls%</a></li>
			<li><a href="index.php?site=server">%servers%</a></li>
		</ul>
	</li>

	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">%media% <b class="caret"></b></a>
		<ul class="dropdown-menu">
			<li><a href="index.php?site=files">%downloads%</a></li>
			<li><a href="index.php?site=demos">%demos%</a></li>
			<li><a href="index.php?site=links">%links%</a></li>
			<li><a href="index.php?site=gallery">%gallery%</a></li>
			<li><a href="index.php?site=linkus">%links_us%</a></li>
		</ul>
	</li>

	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			%miscellaneous% <b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
			<li><a href="index.php?site=sponsors">%sponsors%</a></li>
			<li><a href="index.php?site=newsletter">%newsletter%</a></li>
			<li><a href="index.php?site=contact">%contact%</a></li>
			<li><a href="index.php?site=challenge">%fight_us%</a></li>
			<li><a href="index.php?site=joinus">%join_us%</a></li>
			<li><a href="index.php?site=imprint">%imprint%</a></li>
		</ul>
	</li>

</ul>
