<article>
	<header class="page-header">
		<h3>
			<a href="index.php?site=news_comments&amp;newsID=$newsID">$headline</a>
			<a href="index.php?site=news&amp;show=$rubrikname">
				<small>$rubrikname</small>
			</a>
		</h3>
	</header>

	<section>
		<div>
			<div class="thumbnail pull-left">$rubricpic</div>
		</div>
		<div>
			<p>
				<small>$isintern</small>
				$content<br>$adminaction
			</p>
		</div>
	</section>

	<footer>
		<p>
			<i class="icon-user"></i> by $poster
			| <i class="icon-calendar"></i> $date
			| <i class="icon-comment"></i> $comments </p>
	</footer>
</article>
<hr>
