<html>
<head>
<title>$pagetitle - %outgoing%</title>
</head>
<frameset rows="20,*" framespacing="0" border="0" frameborder="0">
  <frame name="header" scrolling="no" noresize target="_blank" marginwidth="0" marginheight="0">
  	<head>
    <base target="_blank">
    </head>
    <body bgcolor="#d6d6d6">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td width="71%" nowrap><font face="Verdana" size="2" color="#000000">
        %owner_responsible%
          </font>
        </td>
        <td width="29%" align="right" nowrap></td>
      </tr>
    </table>
    </body>
  </frame>
  <frame name="content" src="$target">
  <noframes>
  <body>
  <p>%no_frame%</p>
  </body>
  </noframes>
</frameset>
</html>