  <tr style="line-height:15px;">
    <td bgcolor="$bg1" align="center" width="45"><input class="input" type="checkbox" name="messageID[]" value="$ds[messageID]" /> $icon</td>
    <td bgcolor="$bg2">$title</td>
    <td bgcolor="$bg1" align="center">$sender $member $statuspic</td>
    <td bgcolor="$bg2" align="center">$date</td>
    <td bgcolor="$bg1" align="center"><a href="index.php?site=messenger&amp;action=reply&amp;id=$ds[messageID]"><img src="images/icons/pm_reply.gif" border="0" width="15" height="15" alt="reply" /></a></td>
  </tr>