</table>
<div class="row">
    <div class="col-lg-3">
        <input type="checkbox" name="ALL" value="ALL" onclick="SelectAll(this.form);"> %select_all%
    </div>

    <div class="col-lg-9">
        <div class="row">
            <div class="col-xs-9"><select name="quickactiontype" class="form-control">
                <option value="viewed">%mark_viewed%</option>
                <option value="notviewed">%mark_not_viewed%</option>
                <option value="delete">%delete%</option>
            </select></div>
            <div class="col-xs-3">
                <input type="submit" name="quickaction" value="%execute%" class="btn btn-primary">
            </div>
        </div>
    </div>
</div></form>
