</table>
<div class="row">
    <div class="col-lg-6"><input type="checkbox" name="ALL" value="ALL" onclick="SelectAll(this.form);"> %select_all%</div>
    
    <div class="col-lg-6">
        <div class="form-group">
            <div class="input-group">                
                <select name="quickactiontype" class="form-control">
                  <option value="viewed">%mark_viewed%</option>
                  <option value="notviewed">%mark_not_viewed%</option>
                  <option value="delete">%delete%</option>
                </select>
                
                <span class="input-group-btn">
                    <input type="submit" name="quickaction" value="%execute%" class="btn btn-primary">
                </span>
            </div>
        </div>
    </div>
</div>
</form>