<table width="100%" border="0" cellspacing="0" cellpadding="2" bgcolor="$border">
  <tr bgcolor="$bghead">
    <td class="title"><a name="$n"><img src="images/icons/posticon.gif" width="10" height="11" alt="" /></a> # $n %by% <b>$name</b></td>
  </tr>
  <tr><td bgcolor="$pagebg"></td></tr>
  <tr bgcolor="$bg1">
    <td>
    <table width="100%" border="0" cellspacing="0" cellpadding="2">
      <tr>
        <td>
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td><i>$date</i> $email $hp $icq IP: $ip</td>
            <td align="right">$quote$actions</td>
          </tr>
        </table>
        </td>
      </tr>
    </table>
    </td>
  </tr>
  <tr bgcolor="$bg1">
    <td><hr width="70%" />
    <div style="overflow:hidden;">$message</div></td>
  </tr>
</table>
<br />