<div class="row">
    <div class="col-sm-4">
        $userpic
    </div>

    <div class="col-sm-8">
        <table class="table">
            <tr>
                <td colspan="2">%personal_info%</td>
            </tr>
            <tr>
                <th>%nickname%:</th>
                <td>$nickname $member</td>
            </tr>
            <tr>
                <th>%real_name%:</th>
                <td>$firstname $lastname</td>
            </tr>
            <tr>
                <th>%sexuality%:</th>
                <td>$sex</td>
            </tr>
            <tr>
                <th>%age%:</th>
                <td>$birthday</td>
            </tr>
            <tr>
                <th>%location%:</th>
                <td>$profilecountry $town</td>
            </tr>
            <tr>
                <th>%status%:</th>
                <td>$status</td>
            </tr>
            <tr>
                <th>%usertitle%:</th>
                <td>$usertype<br>$rang $specialrank</td>
            </tr>
            <tr>
                <th>%registered_since%:</th>
                <td>$registered</td>
            </tr>
            <tr>
                <th>%last_login%:</th>
                <td>$lastlogin</td>
            </tr>
            <tr>
                <th>%contact%:</th>
                <td>$email $pm $buddy $icq</td>
            </tr>
            <tr>
                <th>%homepage%:</th>
                <td>$homepage</td>
            </tr>
        </table>
    </div>
</div>

<table class="table">
    <thead>
    <tr>
        <th>%about%</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>$about</td>
    </tr>
    </tbody>
</table>

<table class="table">
    <thead>
    <tr>
        <th>%clan_equipment%</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>%clan%:</th>
        <td>$clanname $clantag<br>(%hp%: $clanhp)</td>
    </tr>
    <tr>
        <th>%irc_channel%:</th>
        <td>$clanirc</td>
    </tr>
    <tr>
        <th>%clan_history%:</th>
        <td>$clanhistory</td>
    </tr>
    <tr>
        <th>%cpu%:</th>
        <td>$cpu</td>
    </tr>
    <tr>
        <th>%mainboard%:</th>
        <td>$mainboard</td>
    </tr>
    <tr>
        <th>%ram%:</th>
        <td>$ram</td>
    </tr>
    <tr>
        <th>%monitor%:</th>
        <td>$monitor</td>
    </tr>
    <tr>
        <th>%graphiccard%:</th>
        <td>$graphiccard</td>
    </tr>
    <tr>
        <th>%soundcard%:</th>
        <td>$soundcard</td>
    </tr>
    <tr>
        <th>%i_connection%:</th>
        <td>$connection</td>
    </tr>
    <tr>
        <th>%keyboard%:</th>
        <td>$keyboard</td>
    </tr>
    <tr>
        <th>%mouse%:</th>
        <td>$mouse</td>
    </tr>
    <tr>
        <th>%mousepad%:</th>
        <td>$mousepad</td>
    </tr>
    </tbody>
</table>

<table class="table">
    <thead>
    <tr>
        <th>%latest_visitors%
            <small>($anzvisits)</small>
        </th>
    </tr>
    </thead>
    <tbody>
    $lastvisits
    </tbody>
</table>

<table class="table">
    <thead>
    <tr>
        <th colspan="2">%statistics%</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>%forumtopics%:</th>
        <td>$anzforumtopics</td>
    </tr>
    <tr>
        <th>%newsposts%:</th>
        <td>$anznewsposts</td>
    </tr>
    <tr>
        <th>%newscomments%:</th>
        <td>$news_comments</td>
    </tr>
    <tr>
        <th>%forumposts%:</th>
        <td>$anzforumposts</td>
    </tr>
    <tr>
        <th>%clanwarcomments%:</th>
        <td>$clanwar_comments</td>
    </tr>
    <tr>
        <th>%articlecomments%:</th>
        <td>$articles_comments</td>
    </tr>
    <tr>
        <th>%democomments%:</th>
        <td>$demo_comments</td>
    </tr>
    <tr>
        <th>%messenger% (%incoming%):</th>
        <td>$pmgot</td>
    </tr>
    <tr>
        <th>%messenger% (%outgoing%):</th>
        <td>$pmsent</td>
    </tr>
    </tbody>
</table>
