<br />
<table width="100%" border="0" cellspacing="0" cellpadding="2">
  <tr>
    <td width="60%" valign="top">
    <table width="100%" cellpadding="2" border="0" cellspacing="0" bgcolor="$border">
      <tr>
        <td colspan="2" class="title" bgcolor="$bghead">&nbsp; &#8226; %personal_info%</td>
      </tr>
      <tr><td colspan="2" bgcolor="$pagebg"></td></tr>
      <tr>
        <td width="35%" bgcolor="$bg1">%nickname%:</td>
        <td width="65%" bgcolor="$bg2"><b>$nickname</b> $member</td>
      </tr>
      <tr>
        <td bgcolor="$bg3">%status%:</td>
        <td bgcolor="$bg4">$status</td>
      </tr>
      <tr>
        <td bgcolor="$bg1">%usertitle%:</td>
        <td bgcolor="$bg2">$usertype<br />$rang</td>
      </tr>
      <tr>
        <td bgcolor="$bg3">%contact%:</td>
        <td bgcolor="$bg4">$email $pm $buddy $icq</td>
      </tr>
      <tr>
        <td bgcolor="$bg1">%homepage%:</td>
        <td bgcolor="$bg2">$homepage</td>
      </tr>
      <tr> 
        <td bgcolor="$bg3">%real_name%:</td>
        <td bgcolor="$bg4">$firstname $lastname</td>
      </tr>
      <tr>
        <td bgcolor="$bg1">%sexuality%:</td>
        <td bgcolor="$bg2">$sex</td>
      </tr>
      <tr>
        <td bgcolor="$bg3">%age%:</td>
        <td bgcolor="$bg4">$birthday</td>
      </tr>
      <tr>
        <td bgcolor="$bg1">%location%:</td>
        <td bgcolor="$bg2">$profilecountry $town</td>
      </tr>
      <tr>
        <td bgcolor="$bg3">%registered_since%:</td>
        <td bgcolor="$bg4">$registered</td>
      </tr>
      <tr>
        <td bgcolor="$bg1">%last_login%:</td>
        <td bgcolor="$bg2">$lastlogin</td>
      </tr>
    </table>
    <br />
    <table width="100%" cellspacing="0" cellpadding="2" bgcolor="$border">
      <tr>
        <td class="title" bgcolor="$bghead">&nbsp; &#8226; %about%</td>
      </tr>
      <tr><td bgcolor="$pagebg"></td></tr>
      <tr>
        <td bgcolor="$bg1">$about</td>
      </tr>
    </table>
    <br />
    <table width="100%" cellspacing="0" cellpadding="2" bgcolor="$border">
      <tr>
        <td colspan="2" class="title" bgcolor="$bghead">&nbsp; &#8226; %clan_equipment%</td>
      </tr>
      <tr><td colspan="2" bgcolor="$pagebg"></td></tr>
      <tr>
        <td width="35%" bgcolor="$bg1">%clan%:</td>
        <td width="65%" bgcolor="$bg2">$clanname $clantag<br />(%hp%: $clanhp)</td>
      </tr>
      <tr>
        <td bgcolor="$bg3">%irc_channel%:</td>
        <td bgcolor="$bg4">$clanirc</td>
      </tr>
      <tr>
        <td bgcolor="$bg1">%clan_history%:</td>
        <td bgcolor="$bg2">$clanhistory</td>
      </tr>
      <tr>
        <td bgcolor="$bg3">%cpu%:</td>
        <td bgcolor="$bg4">$cpu</td>
      </tr>
      <tr>
        <td bgcolor="$bg1">%mainboard%:</td>
        <td bgcolor="$bg2">$mainboard</td>
      </tr>
      <tr>
        <td bgcolor="$bg3">%ram%:</td>
        <td bgcolor="$bg4">$ram</td>
      </tr>
      <tr>
        <td bgcolor="$bg1">%monitor%:</td>
        <td bgcolor="$bg2">$monitor</td>
      </tr>
      <tr>
        <td bgcolor="$bg3">%graphiccard%:</td>
        <td bgcolor="$bg4">$graphiccard</td>
      </tr>
      <tr>
        <td bgcolor="$bg1">%soundcard%:</td>
        <td bgcolor="$bg2">$soundcard</td>
      </tr>
      <tr>
        <td bgcolor="$bg3">%i_connection%:</td>
        <td bgcolor="$bg4">$connection</td>
      </tr>
      <tr>
        <td bgcolor="$bg1">%keyboard%:</td>
        <td bgcolor="$bg2">$keyboard</td>
      </tr>
      <tr>
        <td bgcolor="$bg3">%mouse%:</td>
        <td bgcolor="$bg4">$mouse</td>
      </tr>
      <tr>
        <td bgcolor="$bg1">%mousepad%:</td>
        <td bgcolor="$bg2">$mousepad</td>
      </tr>
    </table>
    </td>
    <td width="1%">&nbsp;</td>
    <td width="39%" valign="top">
    <table width="100%" cellpadding="2" cellspacing="0" bgcolor="$border">
      <tr>
        <td class="title" bgcolor="$bghead">&nbsp; &#8226; %userpic%:</td>
      </tr>
      <tr><td bgcolor="$pagebg"></td></tr>
      <tr>
        <td height="215" align="center" bgcolor="$bg1">$userpic</td>
      </tr>
    </table>
    <br />
    <table width="100%" cellspacing="0" cellpadding="2" bgcolor="$border">
      <tr>
        <td class="title" bgcolor="$bghead">&nbsp; &#8226; %latest_visitors% <small>&nbsp;&nbsp;&nbsp;($anzvisits)</small></td>
      </tr>
      <tr><td bgcolor="$pagebg"></td></tr>
      $lastvisits
    </table>
    <br />
    <table width="100%" cellspacing="0" cellpadding="2" bgcolor="$border">
      <tr>
        <td colspan="2" class="title" bgcolor="$bghead">&nbsp; &#8226; %statistics%</td>
      </tr>
      <tr><td colspan="2" bgcolor="$pagebg"></td></tr>
      <tr>
        <td width="70%" bgcolor="$bg1">%forumtopics%:</td>
        <td width="30%" align="center" bgcolor="$bg2">$anzforumtopics</td>
      </tr>
      <tr>
        <td bgcolor="$bg3">%newsposts%:</td>
        <td bgcolor="$bg4" align="center">$anznewsposts</td>
      </tr>
      <tr>
        <td bgcolor="$bg1">%newscomments%:</td>
        <td bgcolor="$bg2" align="center">$comments[0]</td>
      </tr>
      <tr>
        <td bgcolor="$bg3">%forumposts%:</td>
        <td bgcolor="$bg4" align="center">$anzforumposts</td>
      </tr>
      <tr>
        <td bgcolor="$bg1">%clanwarcomments%:</td>
        <td bgcolor="$bg2" align="center">$comments[1]</td>
      </tr>
      <tr>
        <td bgcolor="$bg3">%articlecomments%:</td>
        <td bgcolor="$bg4" align="center">$comments[2]</td>
      </tr>
      <tr>
        <td bgcolor="$bg1">%democomments%:</td>
        <td bgcolor="$bg2" align="center">$comments[3]</td>
      </tr>
      <tr>
        <td bgcolor="$bg3">%messenger% (%incoming%):</td>
        <td bgcolor="$bg4" align="center">$pmgot</td>
      </tr>
      <tr>
        <td bgcolor="$bg1">%messenger% (%outgoing%):</td>
        <td bgcolor="$bg2" align="center">$pmsent</td>
      </tr>
    </table>
    </td>
  </tr>
</table>