<br />
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="49%" valign="top">
    <table width="100%" cellspacing="0" border="0" cellpadding="2" bgcolor="$border">
      <tr>
        <td class="title" bgcolor="$bghead">&nbsp; &#8226; %last_topics%</td>
      </tr>
      <tr><td bgcolor="$pagebg"></td></tr>
      $topiclist
    </table>
    </td>
    <td width="2%">&nbsp;</td>
    <td width="49%" valign="top">
    <table width="100%" cellspacing="0" border="0" cellpadding="2" bgcolor="$border">
      <tr>
        <td class="title" bgcolor="$bghead">&nbsp; &#8226; %last_posts%</td>
      </tr>
      <tr><td bgcolor="$pagebg"></td></tr>
      $postlist
    </table>
    </td>
  </tr>
</table>
