<div class="login">
	<form method="post" name="post" action="index.php?site=register" class="form-horizontal">
    	
        <!-- Error Box -->
        $showerror
    	
        <!-- Nickname -->
        <div class="form-group">
			<label class="control-label" for="inputEmail">%nickname%:</label>
			<div class="controls">
            	<div class="input-prepend">
					<input type="text" id="inputEmail" name="nickname" value="$nickname" maxlength="30" size="30" class="form-control">
            	</div>
			</div>
		</div>
        
        <!-- Username -->
        <div class="form-group">
			<label class="control-label" for="inputUsername">%username% (%for_login%):</label>
            <input type="text" id="inputUsername" name="username" value="$username" size="30" class="form-control">
		</div>
        
        <!-- Password -->
        <div class="form-group">
			<label class="control-label" for="inputPassword">%password%:</label>
			<div class="controls">
            	<div class="input-prepend">
					<input type="password" id="inputPassword" name="pwd1" value="$pwd1" size="30" class="form-control">
            	</div>
			</div>
		</div>
        
        <!-- Password repeat -->
        <div class="form-group">
			<label class="control-label" for="inputRepeat">%repeat%:</label>
			<div class="controls">
            	<div class="input-prepend">
					<input type="password" id="inputRepeat" name="pwd2" value="$pwd2" size="30" class="form-control">
            	</div>
			</div>
		</div>
        
        <!-- E-Mail -->
        <div class="form-group">
			<label class="control-label" for="inputMail">%mail%:</label>
			<div class="controls">
            	<div class="input-prepend">
					<input type="email" id="inputMail" name="mail" value="$mail" autocomplete="email" size="30" class="form-control">
            	</div>
			</div>
		</div>
        
        <!-- Security code -->
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon captcha-img">$captcha</span>
                <input type="number" id="inputSecurity_code" name="captcha" maxlength="5" size="5" placeholder="Enter Captcha" class="form-control">
                <input name="captcha_hash" type="hidden" value="$hash">
            </div>
        </div>

        <!-- Register now -->
        <div class="form-group">
            <input name="save" type="submit" value="%register_now%" class="btn btn-primary">
        </div>
        
	</form>
</div>