<div class="row">
	<div class="col-xs-12 col-md-9">
		$sorter $page_link
	</div>
	<div class="text-right col-xs-12 col-md-3">
		<strong>$gesamt</strong> %registered_users%
	</div>
</div>
<table class="table table-striped">
	<thead>
		<tr>
			<th>
				<a class="titlelink"
						href="index.php?site=registered_users&amp;sort=country&amp;page=$page">
					%country%:
				</a>
			</th>
			<th>
				<a class="titlelink"
						href="index.php?site=registered_users&amp;sort=nickname&amp;page=$page">
					%nickname%:
				</a>
			</th>
			<th>%contact%:</th>
			<th>%homepage%:</th>
			<th>
				<a class="titlelink"
						href="index.php?site=registered_users&amp;sort=lastlogin&amp;page=$page">
					%last_login%:
				</a>
			</th>
			<th>
				<a class="titlelink"
						href="index.php?site=registered_users&amp;sort=registerdate&amp;page=$page">
					%registration%:
				</a>
			</th>
		</tr>
	</thead>
	<tbody>
