<table width="100%" cellpadding="2" cellspacing="0" border="0">
  <tr>
    <td>$sorter $page_link</td>
    <td align="right"><b>$gesamt</b> %registered_users%</td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="2" bgcolor="$border">
  <tr bgcolor="$bghead">
    <td class="title" align="center" width="10"><a class="titlelink" href="index.php?site=registered_users&amp;sort=country&amp;page=$page">%country%:</a></td>
    <td class="title" align="center"><a class="titlelink" href="index.php?site=registered_users&amp;sort=nickname&amp;page=$page">%nickname%:</a></td>
    <td class="title" align="center">%contact%:</td>
    <td class="title" align="center">%homepage%:</td>
    <td class="title" align="center"><a class="titlelink" href="index.php?site=registered_users&amp;sort=lastlogin&amp;page=$page">%last_login%:</a></td>
    <td class="title" align="center"><a class="titlelink" href="index.php?site=registered_users&amp;sort=registerdate&amp;page=$page">%registration%:</a></td>
  </tr>
  <tr><td colspan="6" bgcolor="$pagebg"></td></tr>