<form name="post" method="get" action="search.php" onsubmit="return formcheck_onsend('text');">
    <div class="form-group">
        %text_contains%:
        <div class="input-group">
                <input id="text" name="text" type="search" value="$text" class="form-control" autofocus>
                
                <span class="input-group-btn">
                    <input type="submit" value="%start_search%" class="btn btn-primary">
                </span>
        </div>

    </div>
    
    <div id="ws_searchoptions" class="collapse">
        <div class="form-group row">
            <label class="col-lg-2">%search_in%</label>
            <div class="col-lg-10">
                <input type="checkbox" class="input" name="articles" value="true" class="form-control" checked> %articles%
                <input type="checkbox" class="input" name="faq" value="true" class="form-control" checked> %faq%
                <input type="checkbox" class="input" name="forum" value="true" class="form-control" checked> %forum%
                <input type="checkbox" class="input" name="news" value="true" class="form-control" checked> %news%
            </div>
        </div>
        
        <div class="form-group row">
            <label class="col-lg-2">%result_quantity%:</label>
            <div class="col-lg-10 text-right">
                <select name="r" class="form-control" multiple>
                  <option value="100" selected>100</option>
                  <option value="50">50</option>
                  <option value="25">25</option>
                  <option value="10">10</option>
                </select>
            </div>
        </div>
        
        <div class="form-group row">
            <label class="col-lg-2">%sort_options%:</label>
            <div class="col-lg-10">
                <div class="radio">
                    <label>
                        <input type="radio" name="order" value="1" checked>
                        %descending%
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="order" value="2">
                        %ascending%
                    </label>
                </div>
            </div>
        </div>
        
        <div class="form-group row">
            <label class="col-lg-2">%date_options%: (yyyy-mm-dd)</label>
            <div class="col-lg-5">
                <label for="afterdate">%after%</label>
                <input name="afterdate" type="date" class="form-control">
            </div>
            <div class="col-lg-5">
                <label for="beforedate">%before%</label>
                <input name="beforedate" type="date" class="form-control">
            </div>
        </div>
    </div>
    
    <div class="form-group">
        <a class="btn btn-default" data-toggle="collapse" data-target="#ws_searchoptions">%options% <span class="caret"></span></a>
    </div>

</form>