<table width="100%" cellspacing="0" border="0" cellpadding="2" bgcolor="$border">
  <tr>
    <td bgcolor="$bghead" class="title" colspan="2">&nbsp; &#8226; <img src="images/games/$ds[game].gif" width="13" height="13" border="0" alt="" />&nbsp;$servername</td>
  </tr>
  <tr><td bgcolor="$pagebg" colspan="2"></td></tr>
  <tr>
    <td bgcolor="$bg1" width="20%">%ip%:</td>
    <td bgcolor="$bg2">$ds[ip]</td>
  </tr>
  <tr>
    <td bgcolor="$bg3">%status%:</td>
    <td bgcolor="$bg4">$status</td>
  </tr>
  <tr>
    <td bgcolor="$bg1">%game%:</td>
    <td bgcolor="$bg2">$showgame</td>
  </tr>
  <tr>
    <td bgcolor="$bg3">%information%:</td>
    <td bgcolor="$bg4">$info</td>
  </tr>
  <tr>
    <td bgcolor="$bg1">%link%:</td>
    <td bgcolor="$bg2"><a href="hlsw://$ds[ip]">$ds[ip]</a></td>
  </tr>
</table>
<br /><br />