<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><img src="images/games/$ds[game].gif" alt="$ds[game]"> $servername</h3>
    </div>
    <div class="table-responsive">
        <table class="table">
            <tbody>
            <tr>
                <td>%ip%:</td>
                <td>$ds[ip]</td>
            </tr>
            <tr>
                <td>%status%:</td>
                <td>$status</td>
            </tr>
            <tr>
                <td>%game%:</td>
                <td>$showgame</td>
            </tr>
            <tr>
                <td>%information%:</td>
                <td>$info</td>
            </tr>
            <tr>
                <td>%link%:</td>
                <td><a href="hlsw://$ds[ip]">$ds[ip]</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
