<table class="table table-striped">
    <thead>
    <tr>
        <th><img src="images/games/$ds[game].gif" alt="$ds[game]"></th>
        <th>$servername</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>%ip%:</td>
        <td>$ds[ip]</td>
    </tr>
    <tr>
        <td>%status%:</td>
        <td>$status</td>
    </tr>
    <tr>
        <td>%game%:</td>
        <td>$showgame</td>
    </tr>
    <tr>
        <td>%information%:</td>
        <td>$info</td>
    </tr>
    <tr>
        <td>%link%:</td>
        <td><a href="hlsw://$ds[ip]">$ds[ip]</a></td>
    </tr>
    </tbody>
</table>
