<script>
	<!--

	function chkFormularShoutBox() {
		if (document.getElementById('shoutbox_name').value === "") {
			alert('%enter_name%');
			document.getElementById('shoutbox_name').focus();

			return false;
		}
		if (document.getElementById('shoutbox_message').value === "" ||
				document.getElementById('shoutbox_message').value === "Message") {
			alert('%enter_message%');
			document.getElementById('shoutbox_message').focus();

			return false;
		}

		return true;
	}
	-->
</script>

<form name="shout" method="post" action="index.php?site=shoutbox_content&amp;action=save"
		onsubmit="return chkFormularShoutBox()">
	<script>
		<!--
		fetch('shoutbox_content.php', 'shoutbox', 'replace', 'time', $refresh);
		-->
	</script>
	<div id="shoutbox" style="width: 100%;overflow: hidden; text-align: left;"></div>

	<input type="text" id="shoutbox_name" name="name" maxlength="255"
			class="form-control form-group" $name_settings>
	<input type="text" id="shoutbox_message" name="message" maxlength="255" placeholder="Message"
			class="form-control form-group" required>

	$captcha_form
	<div class="form-group">
		<a href="javascript:if(chkFormularShoutBox())+document.shout.submit();"
				class="btn btn-primary">%shout%</a> - <a
			href="index.php?site=shoutbox_content&amp;action=showall">%all_messages%</a>
	</div>
</form>
