<div class="row">
    <div class="col-xs-8">
        <table class="table">
            <tr>
                <td colspan="2">$country <span class="category">$firstname '$nickname' $lastname</span> $statuspic
                </td>
            </tr>
            <tr>
                <td><strong>%position%:</strong></td>
                <td>$position</td>
            </tr>
            <tr>
                <td><strong>%status%:</strong></td>
                <td>$activity</td>
            </tr>
            <tr>
                <td><strong>%contact%:</strong></td>
                <td>$email $pm $buddy</td>
            </tr>
            <tr>
                <td><strong>%town%:</strong></td>
                <td>$town</td>
            </tr>
        </table>
    </div>

    <div class="col-xs-4">
        <a href="index.php?site=profile&amp;id=$memberID">
            <img src="images/userpics/$userpic" width="100" class="img-responsive" alt="Picture"></a><br>
        <strong>$nicknamee:</strong><br>$userdescription
    </div>
</div>
