<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h4>$icon $name <small>($anzmembers)</small></h4>
            </div>
            <div class="col-xs-12 col-sm-6  text-right">
                <div class="btn-group">
                    $results $awards $challenge
                </div>
            </div>
            <br class="clearfix">
        </div>
    </div>
    <div class="panel-body">
        $info
    </div><!-- panel-body -->
    <div class="panel-footer hidden">$details</div>
</div><!-- panel -->