<div class="row">
    <div class="col-xs-8">
        <table class="table">
            <tr>
                <td colspan="2">$country <span class="category">$firstname '$nickname' $lastname</span> $statuspic</td>
            </tr>
            <tr>
                <td><b>%position%:</b></td>
                <td>$position</td>
            </tr>
            <tr>
                <td><b>%status%:</b></td>
                <td>$activity</td>
            </tr>
            <tr>
                <td><b>%contact%:</b></td>
                <td>$email $pm $buddy</td>
            </tr>
            <tr>
                <td><b>%town%:</b></td>
                <td>$town</td>
            </tr>
        </table>
    </div>
    
    <div class="col-xs-4">
        <a href="index.php?site=profile&amp;id=$dm[userID]"><img src="images/userpics/$userpic" width="100" class="img-responsive"></a><br>
        <b>$nicknamee:</b><br>$userdescription
    </div>
</div>