<table width="100%" border="0" cellspacing="0" cellpadding="2">
  <tr>
    <td>$today %visits% (%today%)</td>
  </tr>
  <tr>
    <td>$yesterday %visits% (%yesterday%)</td>
  </tr>
  <tr>
    <td>$month %visits% (%month%)</td>
  </tr>
  <tr>
    <td>$total %visits_total%</td>
  </tr>
  <tr>
    <td>$us %registered_users%</td>
  </tr>
  <tr>
    <td></td>
  </tr>
  <tr>
    <td><a href="index.php?site=whoisonline">$user_on</a> online</td>
  </tr>
  <tr>
    <td><a href="index.php?site=whoisonline">$guests_on</a> online</td>
  </tr>
  <tr>
    <td>&#8226; <a href="index.php?site=counter_stats">%statistic%</a></td>
  </tr>
</table>