<ul class="list-group">
	<li class="list-group-item"><span class="badge">$today</span> %visits% (%today%)</li>
	<li class="list-group-item"><span class="badge">$yesterday</span> %visits% (%yesterday%)</li>
	<li class="list-group-item"><span class="badge">$month</span> %visits% (%month%)</li>
	<li class="list-group-item"><span class="badge">$total</span> %visits_total%</li>
	<li class="list-group-item"><span class="badge">$us</span> %registered_users%</li>
	<li class="list-group-item">
		<span class="badge">$user_on</span>
		<a href="index.php?site=whoisonline">$user_on_text online</a>
	</li>
	<li class="list-group-item">
		<span class="badge">$guests_on</span>
		<a href="index.php?site=whoisonline">$guests_on_text online</a>
	</li>
	<li class="list-group-item text-right">
		<a href="index.php?site=counter_stats">%statistic%</a>
	</li>
</ul>
