<h2>%profile%</h2>
<br />
<table width="100%" cellpadding="2" cellspacing="0" bgcolor="$border">
  <tr style="line-height:30px;">
    <td class="title" bgcolor="$bghead" width="14%">&nbsp; <a class="titlelink" href="index.php?site=profile&amp;id=$id">%profile%</a></td>
    <td class="title" bgcolor="$bghead" width="18%">&nbsp; <a class="titlelink" href="index.php?site=profile&amp;id=$id&amp;action=galleries">%galleries%</a></td>
    <td class="title" bgcolor="$bghead" width="18%">&nbsp; <a class="titlelink" href="index.php?site=profile&amp;id=$id&amp;action=buddys">%buddys%</a></td>
    <td class="title" bgcolor="$bghead" width="30%">&nbsp; <a class="titlelink" href="index.php?site=profile&amp;id=$id&amp;action=lastposts">%last% $profilelast %posts%</a></td>
    <td class="title" bgcolor="$bghead" width="20%">&nbsp; <a class="titlelink" href="index.php?site=profile&amp;id=$id&amp;action=guestbook">%guestbook%</a></td>
  </tr>
  <tr><td bgcolor="$pagebg" colspan="5"></td></tr>
</table>
$banned