<div class="page-header">
	<h2>%profile%</h2>
</div>
<ul class="nav nav-tabs nav-justified">
    <li><a href="index.php?site=profile&amp;id=$id" class="btn btn-default navbar-btn">%profile%</a></li>
    <li><a href="index.php?site=profile&amp;id=$id&amp;action=galleries" class="btn btn-default navbar-btn">%galleries%</a></li>
    <li><a href="index.php?site=profile&amp;id=$id&amp;action=buddys" class="btn btn-default navbar-btn">%buddys%</a></li>
    <li><a href="index.php?site=profile&amp;id=$id&amp;action=lastposts" class="btn btn-default navbar-btn">%last% $profilelast %posts%</a></li>
    <li><a href="index.php?site=profile&amp;id=$id&amp;action=guestbook" class="btn btn-default navbar-btn">%guestbook%</a></li>
</ul>
<p>$banned</p>