<tr>
    <td valign="top">
        <table class="table">
            <tr>
                <td class="text-center">
                    <a href="index.php?site=profile&amp;id=$dr[poster]">
                        <strong>$username</strong>
                    </a>
                </td>
            </tr>
            <tr>
                <td class="text-center">
                    <small>$usertype</small>
                </td>
            </tr>
            <tr>
                <td class="text-center">$avatar</td>
            </tr>
            <tr>
                <td class="text-center">$rang</td>
            </tr>
            <tr>
                <td class="text-center">
                    <small>$posts Posts</small>
                </td>
            </tr>
            <tr>
                <td class="text-center">
                    <small>registered: $registered</small>
                </td>
            </tr>
        </table>
    </td>
    <td valign="top">
        <table class="table">
            <tr>
                <td><em>$date, $time</em> $pm $email $hp</td>
                <td class="text-right">$actions $quote</td>
            </tr>
        </table>
        <hr>
        $message
        <small>$signatur</small>
    </td>
</tr>
