<tr bgcolor="$bgcolor">
  <td width="125" valign="top">
  <table width="100%" cellpadding="2" cellspacing="0">
    <tr>
      <td align="center"><a href="index.php?site=profile&amp;id=$dr[poster]"><b>$username</b></a></td>
    </tr>
    <tr>
      <td align="center"><small>$usertype</small></td>
    </tr>
    <tr>
      <td align="center">$avatar</td>
    </tr>
    <tr>
      <td align="center">$rang</td>
    </tr>
    <tr>
      <td align="center"><small>$posts Posts</small></td>
    </tr>
    <tr>
      <td align="center"><small>registered: $registered</small></td>
    </tr>
  </table>
  </td>
  <td valign="top">
  <table width="100%" cellpadding="2" cellspacing="0">
    <tr>
      <td><i>$date, $time</i> $pm $email $hp</td>
      <td align="right">$actions $quote</td>
    </tr>
  </table>
  <hr />
  $message
  <small>$signatur</small></td>
</tr>