<script>
	<!--
	function chkFormular() {
		if (document.getElementById('short').value === "") {
			alert("%enter_short%");
			document.getElementById('short').focus();

			return false;
		}

		if (document.getElementById('title').value === "") {
			alert("%enter_title%");
			document.getElementById('title').focus();

			return false;
		}

		if (document.getElementById('dateinfo').value === "") {
			alert("%enter_info%");
			document.getElementById('dateinfo').focus();

			return false;
		}
		if (!validbbcode(document.getElementById('dateinfo').value)) {

			return false;
		}
	}
	-->
</script>
<form action="calendar.php?action=saveeditdate" method="post" onsubmit="return chkFormular()">
	<h2>%editevent%</h2>
	<table class="table">
		<tr>
			<th align="right">%start_datetime%</th>
			<td>

				<div class="form-group">
					<input type="date" name="starttime_date" value="$starttime_date"
							class="form-control">
					<input type="time" name="starttime_time" value="$starttime_time"
							class="form-control">
				</div>
			</td>
		</tr>
		<tr>
			<th align="right">%end_datetime%</th>
			<td>
				<div class="form-group">
					<input type="date" name="endtime_date" value="$endtime_date"
							class="form-control">
					<input type="time" name="endtime_time" value="$endtime_time"
							class="form-control">
				</div>
			</td>
		</tr>
		<tr>
			<th align="right">%shorttitle%</th>
			<td>
				<input name="short" id="short" type="text" value="$short" class="form-control">
				<small>%displayed_in%</small>
			</td>
		</tr>
		<tr>
			<th align="right">%longtitle%</th>
			<td><input name="title" id="title" type="text" value="$title" class="form-control"></td>
		</tr>
		<tr>
			<th align="right">%location%</th>
			<td>
				<div class="form-group">
					<select name="country" class="form-control">$countries</select>
					<input name="location" type="text" value="$location" class="form-control">
				</div>
			</td>
		</tr>
		<tr>
			<th align="right">%homepage%</th>
			<td><input name="locationhp" type="text" value="$locationhp" class="form-control"></td>
		</tr>
		<tr>
			<th align="right" valign="top">%information%</th>
			<td>
				<textarea name="message" id="dateinfo" cols="45" rows="7" class="form-control">
					$dateinfo
				</textarea>
			</td>
		</tr>
		<tr>
			<th align="right"><input type="hidden" name="upID" value="$ds[upID]"></th>
			<td><input name="post" type="submit" value="%updateevent%" class="btn btn-danger"></td>
		</tr>
	</table>
</form>
