<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th colspan="2">%eventdetails%: $title</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>%start_datetime%</td>
                <td>$date - $time</td>
            </tr>
            <tr>
                <td>%end_datetime%</td>
                <td>$enddate - $endtime</td>
            </tr>
            <tr>
                <td>%location%</td>
                <td>$country $location</td>
            </tr>
            <tr>
                <td>%information%</td>
                <td>$dateinfo</td>
            </tr>
            <tr>
                <th colspan="2">%announcements%</th>
            </tr>
            <tr>
                <td colspan="2">$announce<br>$players $adminaction</td>
            </tr>
        </tbody>
    </table>
</div>
