<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th colspan="2">%clanwardetails%:</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>%date_time%</td>
                <td>$date - $time</td>
            </tr>
            <tr>
                <td>%squad%</td>
                <td>$squad</td>
            </tr>
            <tr>
                <td>%opponent%</td>
                <td>$opponent</td>
            </tr>
            <tr>
                <td>%league%</td>
                <td>$league</td>
            </tr>
            <tr>
                <td>%maps%</td>
                <td>$maps</td>
            </tr>
            <tr>
                <td>%server%</td>
                <td>$server</td>
            </tr>
            <tr>
                <td>%information%:</td>
                <td>$warinfo</td>
            </tr>
            <tr>
                <th colspan="2">%announcements%</th>
            </tr>
            <tr>
                <td colspan="2">$announce<br>$players $adminaction</td>
            </tr>
        </tbody>
    </table>
</div>
