<script>
    <!--
    function chkFormular() {
        if (!validbbcode(document.getElementById('message').value)) {

            return false;
        }
        squad_box = document.getElementById("squad");
        if (squad_box.options.length) {
            if (squad_box.options[squad_box.selectedIndex].value === "") {

                return false;
            }
        }
        else {

            return false;
        }
    }
    -->
</script>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">%new_war%</h3>
    </div>
    <div class="panel-body">
        <form action="calendar.php?action=savewar" method="post" name="post" onsubmit="return chkFormular();">

            <div class="form-group">
                <label for="date" class="col-xs-12 control-label">%date_time%:</label>

                <div class="col-xs-12">
                    <input name="date" id="date" type="datetime-local" value="$date" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label for="squad" class="col-xs-12 control-label">%squad%:</label>

                <div class="col-xs-12">
                    <select name="squad" id="squad" class="form-control">$squads</select>
                </div>

                <label for="league" class="col-xs-12 control-label">%league%</label>

                <div class="col-xs-12">
                    <input name="league" id="league" type="text" value="" class="form-control">
                </div>

                <label for="leagehp" class="col-xs-12 control-label">%leaguehp%</label>

                <div class="col-xs-12">
                    <input name="leaguehp" id="leagehp" type="text" value="http://" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label for="opponent" class="col-xs-12 control-label">%opponent%</label>

                <div class="col-xs-12">
                    <input name="opponent" id="opponent" type="text" value="$opponent" class="form-control">
                </div>

                <label for="opptag" class="col-xs-12 control-label">%opponenttag%</label>

                <div class="col-xs-12">
                    <input name="opptag" id="opptag" type="text" class="form-control">
                </div>

                <label for="oppcountry" class="col-xs-12 control-label">%opponentcountry%</label>

                <div class="col-xs-12">
                    <select name="oppcountry" id="oppcountry" class="form-control">$countries</select>
                </div>

                <label for="opphp" class="col-xs-12 control-label">%opponenthp%</label>

                <div class="col-xs-12">
                    <input name="opphp" id="opphp" type="text" value="$opphp" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label for="maps" class="col-xs-12 control-label">%maps%</label>

                <div class="col-xs-12">
                    <input name="maps" id="maps" type="text" value="$map" class="form-control">
                </div>

                <label for="server" class="col-xs-12 control-label">%server%</label>

                <div class="col-xs-12">
                    <input name="server" id="server" type="text" value="$server" class="form-control">
                </div>

                <label for="message" class="col-xs-12 control-label">%information%</label>

                <div class="col-xs-12">
                    <textarea id="message" name="message" cols="45" rows="7" class="form-control">$info</textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-12">
                    <input type="hidden" name="chID" value="$chID">
                    <input type="hidden" name="userID" value="$userID">
                    <input name="post" type="submit" value="%save_war%" class="btn btn-primary btn-sm">
                    <input name="messages" class="input" type="checkbox" value="true" checked="checked"> %send_message%
                </div>
            </div>
        </form>
    </div>
</div>
