<script language="JavaScript" type="text/javascript">
<!--
function chkFormular() {
	if(document.getElementById('short').value == "") {
		alert("%enter_short%");
		document.getElementById('short').focus();
   		return false;
	}
	
	if(document.getElementById('title').value == "") {
		alert("%enter_title%");
		document.getElementById('title').focus();
   		return false;
	}
	
	if(document.getElementById('dateinfo').value == "") {
		alert("%enter_info%");
		document.getElementById('dateinfo').focus();
   		return false;
	}
	if(!validbbcode(document.getElementById('dateinfo').value)){
		return false;
	}
}
-->
</script>
<form action="calendar.php?action=savedate" method="post" name="post" onsubmit="return chkFormular()">
<table width="100%" border="0" cellspacing="0" cellpadding="2" bgcolor="$border">
  <tr>
    <td class="title" align="center" bgcolor="$bghead">%new_date%</td>
  </tr>
  <tr><td bgcolor="$pagebg"></td></tr>
  <tr>
    <td bgcolor="$bg1">
    <table border="0" align="center" cellpadding="2" cellspacing="0">
      <tr>
        <td align="right">%start_datetime%</td>
        <td><select name="day">$day</select>
        <select name="month">$month</select>
        <select name="year">$year</select>
        -
        <input name="hour" type="text" value="20" size="3" />
        :
        <input name="minute" type="text" value="00" size="3" /></td>
      </tr>
      <tr>
        <td align="right">%end_datetime%</td>
        <td><select name="endday">$day</select>
        <select name="endmonth">$month</select>
        <select name="endyear">$year</select>
        -
        <input name="endhour" type="text" value="20" size="3" />
        :
        <input name="endminute" type="text" value="00" size="3" /></td>
      </tr>
      <tr>
        <td align="right">%shorttitle%</td>
        <td><input name="short" id="short" type="text" size="35" />
        <small>%displayed_in%</small></td>
      </tr>
      <tr>
        <td align="right">%longtitle%</td>
        <td><input name="title" id="title" type="text" size="35" /></td>
      </tr>
      <tr>
        <td align="right">%location%</td>
        <td><select name="country">$countries</select>
        <input name="location" type="text" /></td>
      </tr>
      <tr>
        <td align="right">%homepage%</td>
        <td><input name="locationhp" type="text" value="http://" size="35" /></td>
      </tr>
      <tr>
        <td align="right" valign="top">%information%</td>
        <td><textarea name="message" id="dateinfo" cols="40" rows="7"></textarea></td>
      </tr>
      <tr><td align="right">&nbsp;</td></tr>
      <tr>
        <td>&nbsp;</td>
        <td><input name="post" type="submit" value="%save_event%" /></td>
      </tr>
    </table>
    </td>
  </tr>
</table>
</form>