<table width="100%" cellspacing="0" cellpadding="2" border="0" bgcolor="$border">
  <tr>
    <td colspan="2" bgcolor="$bghead" class="title">&nbsp; &#8226; %clanwardetails%:</td>
  </tr>
  <tr><td colspan="2" bgcolor="$pagebg"></td></tr>
  <tr>
    <td bgcolor="$bg1" align="right" width="15%">%date_time%</td>
    <td bgcolor="$bg2">$date - $time</td>
  </tr>
  <tr>
    <td bgcolor="$bg3" align="right">%squad%</td>
    <td bgcolor="$bg4">$squad</td>
  </tr>
  <tr>
    <td bgcolor="$bg1" align="right">%opponent%</td>
    <td bgcolor="$bg2">$opponent</td>
  </tr>
  <tr>
    <td bgcolor="$bg3" align="right">%league%</td>
    <td bgcolor="$bg4">$league</td>
  </tr>
  <tr>
    <td bgcolor="$bg1" align="right">%maps%</td>
    <td bgcolor="$bg2">$maps</td>
  </tr>
  <tr>
    <td bgcolor="$bg3" align="right">%server%</td>
    <td bgcolor="$bg4">$server</td>
  </tr>
  <tr>
    <td bgcolor="$bg1" align="right">%information%:</td>
    <td bgcolor="$bg2">$warinfo</td>
  </tr>
  <tr><td colspan="2" bgcolor="$pagebg"></td></tr>
  <tr>
    <td colspan="2" bgcolor="$bghead" class="title">&nbsp; &#8226; %announcements%</td>
  </tr>
  <tr><td colspan="2" bgcolor="$pagebg"></td></tr>
  <tr>
    <td colspan="2" bgcolor="$bg1">$announce<br />$players $adminaction</td>
  </tr>
</table>