<table width="100%" border="0" cellspacing="0" cellpadding="2" bgcolor="$border">
  <tr>
    <td colspan="2" bgcolor="$bghead" class="title">&nbsp; &#8226; %eventdetails%: $title</td>
  </tr>
  <tr><td colspan="2" bgcolor="$pagebg"></td></tr>
  <tr>
    <td bgcolor="$bg1" align="right" width="20%">%start_datetime%</td>
    <td bgcolor="$bg2">$date - $time</td>
  </tr>
  <tr>
    <td bgcolor="$bg3" align="right">%end_datetime%</td>
    <td bgcolor="$bg4">$enddate - $endtime</td>
  </tr>
  <tr>
    <td bgcolor="$bg1" align="right">%location%</td>
    <td bgcolor="$bg2">$country $location</td>
  </tr>
  <tr>
    <td bgcolor="$bg3" align="right">%information%</td>
    <td bgcolor="$bg4">$dateinfo</td>
  </tr>
  <tr><td colspan="2" bgcolor="$pagebg"></td></tr>
  <tr>
    <td colspan="2" bgcolor="$bghead" class="title">&nbsp; &#8226; %announcements%</td>
  </tr>
  <tr><td colspan="2" bgcolor="$pagebg"></td></tr>
  <tr>
    <td colspan="2" bgcolor="$bg1">$announce<br />$players $adminaction</td>
  </tr>
</table>