<table width="100%" border="0" cellspacing="0" cellpadding="2">
  <tr>
    <td width="50%"><input type="button" onclick="MM_goToURL('parent','index.php?site=usergallery&amp;action=add');return document.MM_returnValue" value="%new_gallery%" /></td>
    <td>
    <table width="104" cellspacing="1" cellpadding="2" bgcolor="$border">
      <tr bgcolor="$bg1">
        <td style="background-image: url(images/icons/poll_bg.gif);"><img src="images/icons/poll.gif" width="$percent" height="5" alt="" /></td>
      </tr>
    </table>
    </td>
    <td>$space_max_in_user</td>
  </tr>
</table>
<form method="post" name="ws_gallery" action="index.php?site=usergallery">
<table width="100%" cellpadding="2" cellspacing="0" border="0" bgcolor="$border">
  <tr>
    <td class="title" align="center">%gallery_name%:</td>
    <td class="title" align="center" colspan="3">%actions%:</td>
  </tr>
  <tr bgcolor="$pagebg"><td colspan="4"></td></tr>