<div class="row">

    <div class="col-md-6">
        <a href="index.php?site=usergallery&action=add" class="btn btn-primary">%new_gallery%</a>
    </div>

    <div class="col-md-6 text-right">
        $space_max_in_user
    </div>

</div>

<hr>

<form method="post" name="ws_gallery" action="index.php?site=usergallery">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>%gallery_name%</th>
            <th>%actions%</th>
        </tr>
        </thead>
        <tbody>
