<div class="row">

    <div class="col-md-6">
        <input type="button" onclick="MM_goToURL('parent','index.php?site=usergallery&amp;action=add');return document.MM_returnValue" value="%new_gallery%" class="btn btn-primary">
    </div>

    <div class="col-md-6 text-right">
        $space_max_in_user
    </div>

</div>

<hr>

<form method="post" name="ws_gallery" action="index.php?site=usergallery">
<table class="table">
    <thead>
        <tr>
            <th>%gallery_name%</th>
            <th>%actions%</th>
        </tr>
    </thead>
    <tbody>