<br /><br /><a name="was"></a><h2>%title_was%</h2>
<table width="100%" border="0" cellspacing="0" cellpadding="2">
  <tr>
    <td>$sorter</td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="2" bgcolor="$border">
  <tr bgcolor="$bghead">
    <td class="title" align="center"><a class="titlelink" href="index.php?site=whoisonline&amp;sort=nickname&amp;type=$type">%nickname%:</a></td>
    <td class="title" align="center">%contact%:</td>
    <td class="title" align="center">%latest_action%:</td>
    <td class="title" align="center"><a class="titlelink" href="index.php?site=whoisonline&amp;sort=time&amp;type=$type">%date%:</a></td>
  </tr>
  <tr><td colspan="4" bgcolor="$pagebg"></td></tr>